* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  color: $color-text-main;
}

._margin_no {
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  &,
  &:hover {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: $color-text-main;
  }

  &:focus,
  &:active {
    color: inherit;
  }
}

button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
}

// input type value - hide arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

._hide,
._hidden {
  display: none;
}