@font-face {
  font-family: 'Helvetica';
  src:url('../fonts/HelveticaNeueCyr-Thin.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src:url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src:url('../fonts/HelveticaNeueCyr-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src:url('../fonts/HelveticaNeueCyr-Roman.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src:url('../fonts/HelveticaNeueCyr-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src:url('../fonts/HelveticaNeueCyr-Bold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src:url('../fonts/HelveticaNeueCyr-Heavy.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src:url('../fonts/HelveticaNeueCyr-Black.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

//Montserrat

@font-face {
  font-family: 'Montserrat';
  src:url('../fonts/Montserrat-Thin_0.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:url('../fonts/Montserrat-ExtraLight_0.ttf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:url('../fonts/Montserrat-Light_1.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:url('../fonts/Montserrat-Regular_1.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:url('../fonts/Montserrat-Medium_0.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:url('../fonts/Montserrat-Bold_0.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:url('../fonts/Montserrat-ExtraBold_1.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:url('../fonts/Montserrat-SemiBold_0.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:url('../fonts/Montserrat-Black_0.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

//Roboto


@font-face {
  font-family: 'Roboto';
  src:url('../fonts/Roboto-Thin_1.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('../fonts/Roboto-Light_1.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('../fonts/Roboto-Medium_1.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('../fonts/Roboto-Regular_1.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('../fonts/Roboto-Bold_2.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('../fonts/Roboto-Black_1.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}


