html, body {
  min-height: 100vh;
}
body {
  font-family: 'Helvetica', sans-serif;
  color: $color-text-main;
  font-weight: 400;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 1 auto;
}

.content {
  flex: 1;
}

.footer {
  flex: 0 1 auto;
}