$font-main: '';
$font-secondary: '';

$font-size-h1: 48px;
$font-size-h2: 48px;
$font-size-h3: 16px;
$font-size-h4: 16px;
$font-size-regular: 16px;
$font-size-xs: $font-size-regular*0.75;
$line-height-base: 26px;

$color-text-main: #000000;
$color-text-secondary: #000;
$color-text-light: #FFFFFF;
$color-background: #fff;

$header-top-margin-bottom: 30px;

$default-shadow: 0 0 34px 6px rgba(0, 0, 0, 0.11);
