.text-element__a{
  fill: #414141;
}

section.breadcrumb {
  margin-top: 50px;
  margin-bottom: 80px;

  h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-family: Montserrat;
    color: #277EC9;
    font-weight: 700;
  }
}

.breadcrumb-item {
  color: #9A9A9A;
  margin-bottom: 30px;

  a {
    color: #9A9A9A;
  }
}

.container.container-min {
  width: 42%;
}

.about-text {
  text-align: center;

  img {
    max-width: 100%;
    max-height: 714px;
    margin-bottom: 60px;
  }

  p {
    text-align: left;
    line-height: 26px;
    margin-bottom: 40px;
  }

  p.about-text__title {
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #277EC9;
  font-family: Montserrat;
  margin-bottom: 80px;
}

section.structure {
  margin-top: 110px;

  img {
    width: 100%;
    margin-top: -80px;
  }
}

.staff-composition__elements {
  display: flex;
  flex-wrap: wrap;

  .staff-composition__element {
    flex-basis: 344px;
    margin-right: 17%;
    margin-bottom: 80px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    h3 {
      font-weight: 600;
      margin-bottom: 15px;
      color: #277EC9;
    }

    h4.name {
      margin-bottom: 15px;
      font-weight: 600;
    }

    .text-element {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      p {
        margin-left: 25px;
      }

      a {
        color: #9A9A9A;
      }

      &:hover {
        .text-element__a {
          fill: #277EC9;
        }

        a {
          color: #277EC9;
        }
      }
    }
  }
}

.vacancies {
  margin-top: 50px;

  .doc-element:before {
    background-image: url(../images/approved.svg);
    width: 194px;
    height: 233px;
    animation: none;
  }

  .doc-element.hover:before {
    animation: none;
    width: 194px;
    height: 233px;
    left: 222px;
    bottom: 23px;
  }
}

@media (max-width: 1919px) {
  .container.container-min {
    width: 50%;
  }

  .staff-composition__elements .staff-composition__element {
    margin-right: 7%;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 1365px) {
  section.breadcrumb {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .breadcrumb-item {
    margin-bottom: 50px;
    font-size: 14px;
  }

  section.breadcrumb h1 {
    font-size: 26px;
  }

  .container.container-min {
    width: 72%;
  }

  .about-text img {
    max-height: 630px;
    margin-bottom: 30px;
  }

  .about-text p.about-text__title {
    line-height: 30px;
    font-size: 16px;
  }

  .about-text p {
    font-size: 14px;
  }

  section.structure {
    margin-top: 60px;
  }

  h2 {
    font-size: 26px;
  }

  .staff-composition__elements {
    justify-content: space-between;

    .staff-composition__element {
      flex-basis: 327px;
      margin-bottom: 90px;
      margin-right: 1%;

      &:nth-child(3n) {
        margin-right: 1%;
      }

      h3 {
        margin-bottom: 23px;
        font-size: 14px;
      }

      h4.name {
        font-size: 14px;
        margin-bottom: 22px;
      }

      .text-element p {
        font-size: 14px;
      }

      .text-element a {
        color: #277EC9;
      }
    }
  }

  .vacancies {
    .inner-container {
      justify-content: space-between;
    }
    .doc-element {
      margin-right: 1%;
      width: 381px;

      &:before {
        width: 173px;
        height: 209px;
      }

      h3 {
        font-size: 14px;
        margin-bottom: 20px;
        flex-basis: 40%;
      }
      p {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .vacancies .doc-element {
    width: 350px;
  }

  .vacancies .doc-element:before {
    left: 160px;
  }
}

@media (max-width: 767px) {
  section.breadcrumb {
    margin-top: 11px;
    margin-bottom: 20px;
  }

  .breadcrumb-item {
    margin-bottom: 12px;
  }

  section.breadcrumb h1 {
    font-size: 21px;
  }

  .container.container-min {
    width: 95%;
  }

  .about-text img {
    max-height: 250px;
    margin-bottom: 20px;
  }

  .about-text p.about-text__title {
    line-height: 24px;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .about-text p {
    font-size: 12px;
    line-height: 23px;
  }

  section.structure {
    margin-top: 35px;
  }

  h2 {
    font-size: 21px;
    line-height: 34px;
    margin-bottom: 35px;
  }

  section.structure img {
    margin-top: -35px;
  }

  section.staff-composition {
    margin-top: 75px;
  }

  .staff-composition__elements .staff-composition__element {
    margin-bottom: 70px;
  }

  .staff-composition__elements .staff-composition__element h3 {
    margin-bottom: 20px;
    font-size: 12px;
  }

  .staff-composition__elements .staff-composition__element h4.name {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .staff-composition__elements .staff-composition__element .text-element {
    margin-bottom: 20px;
  }

  .staff-composition__elements .staff-composition__element .text-element p {
    font-size: 12px;
  }

  .vacancies {
    margin-top: 26px;
  }

  .vacancies .doc-element {
    width: 300px;
    height: auto;
    margin-bottom: 70px;
  }

  .vacancies .doc-element:before {
    left: auto;
    bottom: auto;
    top: 0;
    right: 0;
  }

  .vacancies .doc-element h3 {
    font-size: 12px;
    margin-bottom: 23px;
    flex-basis: auto;
    margin-top: 24px;
    width: 100%;
  }

  .vacancies .doc-element p {
    font-size: 12px;
    width: 100%;
    flex-basis: auto;
  }
}