.link {
  display: flex;
  margin-bottom: 30px;

  p {
    margin-bottom: 0;
    margin-left: 50px;
  }

  a {
    color: #9A9A9A;
    line-height: 26px;
    text-align: left;

    &:hover {
      color: #277EC9;
    }
  }
}

@media (max-width: 767px) {
  .link {
    flex-wrap: wrap;
  }

  .link a {
    color: #277EC9;
    font-size: 12px;
    line-height: 23px;
  }

  .link p {
    margin-left: 0;
  }
}

//vacancies
.vacancies_btn button.btn {
  margin-top: 40px;
  width: 240px;
  height: 50px;
  color: white;
  background-color: #277EC9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: 300;
  letter-spacing: 0.075em;
}

@media (max-width: 1365px) {
  .vacancies_btn button.btn {
    margin-top: 20px;
    width: 230px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .vacancies_btn button.btn {
    margin-top: 10px;
    width: 230px;
    height: 40px;
    font-size: 12px;
    margin-bottom: 50px;
  }
}

.modal-container h2 {
  text-transform: inherit;
}

input.file_upload {
  display: none;
}

.modal-form__file label {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    margin-left: 15px;
  }
}

.vacancies {
  .modal-container form {
    width: 565px;

    label {
      margin-bottom: 10px;
    }

    span {
      font-size: 16px;
      line-height: 13px;
      text-align: right;
      display: inline-block;
    }

    span.label__bottom {
      font-size: 10px;
      color: #414141;
    }

    h2 {
      font-size: 48px;
      line-height: 36px;
      margin-bottom: 50px;

      span {
        width: 100%;
      }
    }

    .modal-form__file {
      margin-bottom: 20px;
    }


    input[type="text"],
    input[type="tel"],
    input[type="number"],
    textarea {
      margin-bottom: 25px;
      height: 50px;
      padding-left: 10px;
    }

    .captcha label {
      margin-bottom: 0;
    }

    textarea {
      height: 120px;
    }
  }
}

textarea {
  padding-top: 10px;
  padding-bottom: 10px;
}


@media (max-width: 1919px) {
  .vacancies .modal-container form h2 {
    font-size: 48px;
    line-height: 36px;
    margin-bottom: 10px;
  }

  .vacancies .modal-container form input[type="text"], .vacancies .modal-container form input[type="tel"], .vacancies .modal-container form input[type="number"], .vacancies .modal-container form textarea {
    margin-bottom: 10px;
    height: 40px;
  }

  .vacancies .modal-container form textarea {
    height: 100px;
  }

  .vacancies .modal-container .confid {
    margin-bottom: 25px;
  }
}

@media (max-width: 1365px) {
  .vacancies .modal-container form h2 {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 60px;
  }

  .vacancies .modal-container form {
    width: 590px;
  }

  .vacancies .modal-container form h2 span {
    width: 52%;
    font-size: 14px;
  }

  .modal-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  .vacancies .modal-container form textarea {
    height: 194px;
  }

  .vacancies .modal-container form span {
    font-size: 14px;
  }

  .modal-container .confid {
    width: 310px;
    margin-left: calc(50% - 155px);
  }
}

@media (max-width: 767px) {
  .vacancies .modal-container form {
    width: 265px;
  }

  .vacancies .modal-container form h2 {
    width: 265px;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 20px;
    text-align: right;
  }

  .vacancies .modal-container form h2 span {
    width: 265px;
    font-size: 14px;
  }

  .modal-flex {
    display: block;
    margin-bottom: 0;
  }

  .modal-container {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: normal;
  }

  .modal-container .captcha {
    margin-bottom: 50px;
  }
}
