.modal__call__a{
  fill:#fff;
}

.header__a{
  fill:#fff;
  stroke:#277ec9;
}

.search__a{
  fill:#368ed9;
}

.visually-impaired:hover .header__a {
  stroke: #43A2F5;
}

.search:hover .search__a{
  fill: #43A2F5;
}

.to-top {
  cursor: pointer;
}

header {
  height: 135px;
  border-bottom: 3px solid #277EC9;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;

  .container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}

.search-header {
  position: fixed;
  width: 84%;
  height: 57px;
  top: 70px;
  z-index: 1;

  &.active {
    animation-name: headerSearchActive;
    animation-duration: 500ms;
    top: 132px;
  }

  &.disactive {
    animation-name: headerSearchDisActive;
    animation-duration: 500ms;
  }

  form {
    position: relative;
  }

  input[type="text"] {
    width: 94%;
    height: 57px;
    border: 2px solid #277EC9;
    padding-left: 15px;
    color: #000000;
  }

  button.bth-search-header {
    width: 112px;
    height: 57px;
    color: white;
    background-color: #277ec9;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}

@keyframes headerSearchActive {
  0% {
    top: 70px;
  }

  100% {
    top: 132px;
  }
}

@keyframes headerSearchDisActive {
  0% {
    top: 132px;
  }

  100% {
    top: 70px;
  }
}

.container {
  width: 84%;
  margin: auto;
  height: 100%;
}

.logo {
  display: flex;
  align-items: flex-end;
  width: 16%;

  img {
    height: 79px;
  }

  p {
    font-size: 10px;
    line-height: 15px;
    margin-left: 10px;
    font-family: 'Roboto';
  }
}

.menu {
  width: 670px;
  ul {
    display: flex;

    li {
      margin-right: 6%;

      &:last-child {
        margin-right: 0;
      }

      a:hover {
        color: #277EC9;
      }
    }
  }
}

.menu-hover {
  display: none;
  position: fixed;
  width: 278px;
  height: auto;
  margin-left: -35px;

  ul {
    flex-direction: column;
    margin-top: 60px;
    padding-top: 26px;
    padding-left: 41px;
    padding-right: 41px;
    padding-bottom: 56px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    li {
      margin-right: 0;
      margin-bottom: 48px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.tel a {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.075em;
  margin-bottom: 7px;
  display: block;

  &:hover {
    color: #277EC9;
  }
}

a.modal__call {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #277EC9;
  padding: 25px;
  color: #fff;
  letter-spacing: 0.075em;
  font-weight: 100;

  &:hover {
    background-color: #43A2F5;
  }

  svg {
    margin-right: 14px;
    width: 30px;
  }
}

.social__a1{
  fill:#fff;
}

.social__a2{
  fill:#fff;
  fill-rule:evenodd;
}

.social__b1{
  fill:#368ed9;
}

//footer

footer {
  background-color: #277EC9;
  color: #fff;
  padding-top: 34px;
  padding-bottom: 36px;
  margin-top: 190px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__left {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
  width: 272px;

  img {
    width: 208px;
    margin-bottom: 5px;
  }

  p {
    line-height: 21px;
    text-align: center;
    color: #fff;
  }
}

.coopr p {
  font-size: 11px;
}

.footer__menu {
  width: 70%;
}

.footer__menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;

  form {
    position: relative;
  }

  input[type="text"] {
    width: 627px;
    height: 45px;
    padding-left: 15px;
    border: none;
    color: #9A9A9A;
  }

  .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  a {
    font-size: 32px;
    color: white;
    font-weight: 600;
  }
}

.footer__menu__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 64px;
  height: 130px;

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 130px;
    flex-basis: 760px;

    li {
      margin-bottom: 18px;
      width: 50%;

      &:nth-child(4n){
        margin-bottom: 0;
      }

      a {
        color: white;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }

  .footer__menu__center__right {
    flex-basis: 258px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      line-height: 26px;
    }

    .social {
      width: 180px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.footer__menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #FFFFFF;
  height: 90px;
  padding-top: 23px;

  .footer__menu__bottom__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 760px;
  }

  .footer__menu__bottom__left__logo {
    display: flex;
    align-items: center;
    flex-basis: 50%;

    img {
      height: 67px;
    }

    p {
      font-size: 10px;
      line-height: 16px;
      margin-left: 15px;
      width: 172px;
      color: white;
    }
  }

  .footer__menu__bottom__right {
    flex-basis: 258px;
  }
}

.search {
  cursor: pointer;
}


.param-checkbox {
  position: relative;
}

.checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 1;
}

.checkbox-custom {
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #707070;
  border-radius: 0;
  display: inline-block;
}

.checkbox:checked + .checkbox-custom {
  border: 2px solid #277EC9;
}

.checkbox:checked + .checkbox-custom::before {
  cursor: pointer;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 17px;
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-size: 21px 17px
}

//modal

.fancybox-is-open .fancybox-bg {
  opacity: 0!important;
}

.pop-up.fancybox-content,
.menu.fancybox-content,
.menu-hover.fancybox-content {
  height: 100vh;
  width: 768px;
  padding: 0;
  cursor: default!important;
}

button.fancybox-button.fancybox-close-small {
  top: 46px;
  right: 50px;
  padding: 0;
  width: 45px;
  height: 45px;
  background-image: url('../images/cancel.svg');
  background-size: 45px;
  opacity: 1;

  svg {
    display: none!important;
  }
}

.fancybox-slide--html {
  padding: 0!important;
  text-align: right!important;
}

.blur {
  filter: blur(6px);
}

.modal-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 464px;
  }

  h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    color: #368ED9;
    line-height: 58px;
    margin-bottom: 80px;
  }

  label {
    display: block;
    font-weight: 600;
    color: #368ED9;
    width: 372px;
    margin: auto;
    margin-bottom: 15px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="number"],
  textarea {
    width: 372px;
    margin-left: calc(50% - 186px);
    margin-bottom: 50px;
    height: 57px;
    border: 2px solid #9A9A9A;
    padding-left: 24px;
    padding-right: 24px;
  }

  textarea {
    height: 230px;
  }

  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  textarea:focus {
    border: 2px solid #368ED9;
  }

  .confid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width: 360px;
    margin-left: calc(50% - 180px);

    p {
      margin-left: 15px;
      font-size: 14px;
      font-weight: 600;

      a {
        color: #9A9A9A;
      }
    }
  }

  .captcha {
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      width: auto;
      margin: 0;
      margin-left: 15px;
      text-transform: uppercase;
    }

    .checkbox-custom {
      border: 2px solid #368ED9;
    }
  }

  button.btn {
    background-color: #277EC9;
    width: 240px;
    height: 50px;
    color: white;
    font-size: 16px;
    letter-spacing: 0.075em;
    font-weight: 300;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin-left: calc(50% - 120px);
  }
}

svg.to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  transform: rotate(90deg);

  &:hover {
    .navigation__a {
      fill: #43A2F5;
    }
  }
}

@media (max-width: 1919px) {
  .modal-container input[type="text"], .modal-container input[type="tel"], .modal-container input[type="number"], .modal-container textarea {
    margin-bottom: 20px;
    height: 50px;
  }

  .modal-container textarea {
    height: 120px;
  }

  .modal-container h2 {
    margin-bottom: 40px;
  }

  .modal-container label {
    margin-bottom: 10px;
  }
}
