.navigation__a {
  fill:#277ec9;
}
.navigation__b {
  fill:#9a9a9a;
  stroke:#fff;
}

.index-sl {
  position: relative;
}

.burger {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 110px;
  position: absolute;
  bottom: 60px;
  right: 136px;
}

.navigation__left,
.navigation__right {
  width: 50px;
  height: 50px;
  cursor: pointer;

  &:hover .navigation__a {
    fill: #43A2F5;
  }
}

.navigation__left {
  transform: rotate(180deg);
}

.slider-element {
  height: 690px!important;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(39, 126, 201, 0.31);

  .container {
    padding-top: 130px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    width: 684px;
    font-size: 48px;
    line-height: 70px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
  }

  p {
    line-height: 26px;
    color: white;
    width: 395px;
  }

  .btn {
    display: block;
    width: 240px;
    height: 50px;
    background-color: #277EC9;
    color: white;
    font-weight: 300;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    letter-spacing: 0.075em;
    cursor: pointer;

    &:hover {
      background-color: #43A2F5;
    }
  }

  a {
    width: 240px;
  }
}

.blue-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(39, 126, 201, 0.31);
}

ul.slick-dots {
  display: flex!important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 13px;
  right: 154px;
  height: 100%;
  bottom: 0;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 9px!important;
  height: 9px!important;
  content: ''!important;
  border: 2px solid #9A9A9A;
  border-radius: 50%;
  text-align: center;
  opacity: 1!important;
  color: white!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 1!important;
  color: white!important;
  border: 2px solid white;
}

.slick-dots li.slick-active button:after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}

.slick-dots li,
.slick-dots li button {
  height: 23px!important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0!important;
}

//gos-usl

section.gos-usl {
  margin-top: 180px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  align-items: center;

  h2 {
    color: #277EC9;
    font-size: 48px;
    font-family: 'Montserrat';
    margin-right: 20px;
    margin-bottom: 0;
  }

  a {
    margin-left: 20px;
    color: #9A9A9A;

    &:hover {
      color: #277EC9;
    }
  }

  .line {
    height: 1px;
    width: 44%;
    background-color: #277EC9;
  }
}

.inner-container {
  display: flex;
  flex-wrap: wrap;

  .image {
    margin-bottom: 28px;
    width: 406px;
    height: 406px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    opacity: 0.29;
  }

  .text {
    width: 365px;

    h3 {
      color: #277EC9;
      margin-bottom: 22px;
      font-weight: 600;
      line-height: 28px;
    }

    a {
      display: inline-block;
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 16px;
      &:hover {
        color: #277EC9;
      }
    }
  }

  a.link {
    display: inline-block;
    margin-top: 14px;
    float: right;
    color: #9A9A9A;

    &:hover {
      color: #277EC9;
    }
  }
}

.inner-container__element {
  margin-right: 11%;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &.hover {
    background-color: #F7F7F7;

    .image {
      animation-name: innerElementHoverImage;
      animation-duration: 500ms;
      filter: grayscale(0);
      opacity: 1;
    }

    .text {
      animation-name: innerElementHoverText;
      animation-duration: 500ms;
      margin-left: 40px;
    }
  }
}


.inner-container__element.dishover {
    .image {
      animation-name: innerElementDisHoverImage;
      animation-duration: 500ms;
    }

    .text {
      animation-name: innerElementDisHoverText;
      animation-duration: 500ms;
    }
}

@keyframes innerElementHoverImage  {
  0% {
    filter: grayscale(100%);
    opacity: 0.29;
  }

  100% {
    filter: grayscale(0);
    opacity: 1;
  }
}

@keyframes innerElementDisHoverImage  {
  0% {
    filter: grayscale(0);
    opacity: 1;
  }

  100% {
    filter: grayscale(100%);
    opacity: 0.29;
  }
}

@keyframes innerElementHoverText  {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 40px;
  }
}

@keyframes innerElementDisHoverText  {
  0% {
    margin-left: 40px;
  }

  100% {
    margin-left: 0;
  }
}

//index-news

.index-news {
  margin-top: 171px;

  .title .line {
    width: 72%;
  }

  .text {
    p {
      line-height: 26px;
      margin-bottom: 30px;
      width: 326px;
    }
  }
}

p.date {
  font-weight: 600;
  color: #277EC9;
}

//doc

.index-doc {
  margin-top: 80px;

  .title .line {
    width: 42%;
  }
}

.doc-element {
  width: 416px;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 245px;
  margin-bottom: 100px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:before {
    content: "";
    position: absolute;
    background-image: url('../images/file.png');
    width: 177px;
    height: 226px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    left: 222px;
    bottom: 23px;
  }

  &.hover:before {
    animation-name: docElementHover;
    animation-duration: 500ms;
    width: 156px;
    height: 199px;
    left: 260px;
    bottom: 26px;
  }

  &.dishover:before {
    animation-name: docElementDisHover;
    animation-duration: 500ms;
  }

  h3 {
    font-weight: 600;
    color: #277EC9;
    line-height: 28px;
    width: 326px;
    font-size: 16px;
    margin-bottom: 31px;
    flex-basis: 33%;
    display: flex;
    align-items: flex-end;
  }

  p {
    line-height: 26px;
    width: 326px;
    margin-bottom: 24px;
    flex-basis: 31%;
  }

  p.date {
    flex-basis: auto;
    margin-bottom: 0;
  }
}

@keyframes docElementHover {
  0% {
    width: 177px;
    height: 226px;
    left: 222px;
    bottom: 23px;
  }
  100% {
    width: 156px;
    height: 199px;
    left: 260px;
    bottom: 26px;
  }
}

@keyframes docElementDisHover {
  0% {
    width: 156px;
    height: 199px;
    left: 260px;
    bottom: 26px;
  }
  100% {
    width: 177px;
    height: 226px;
    left: 222px;
    bottom: 23px;
  }
}

//1366

@media (max-width: 1919px) {
  .container {
    width: 94%;
  }

  .logo {
    width: 20%;
  }

  a.modal__call {
    padding: 10px;

    p {
      font-size: 14px;
    }

    svg {
      width: 20px;
    }
  }

  .menu {
    width: 520px;

    ul li {
      margin-right: 4%;
    }

    a {
      font-size: 14px;
    }
  }

  .tel {
    a {
      font-size: 18px;
      margin-bottom: 3px;
    }

    p {
      font-size: 14px;
    }
  }

  a.visually-impaired {
    svg {
      width: 25px;
    }
  }

  .search {
    svg {
      width: 18px;
    }
  }

  .search-header {
    width: 94%;
  }

  .slider-element {
    height: 515px !important;
  }

  .slider-element .container {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  ul.slick-dots {
    right: 60px;
  }

  .navigation {
    bottom: 20px;
    right: 40px;
  }

  section.gos-usl {
    margin-top: 100px;
  }

  .title .line {
    width: 30%;
  }

  .inner-container__element {
    margin-right: 2%;
  }

  .index-news {
    margin-top: 100px;
  }

  .index-news .title .line {
    width: 65%;
  }

  .index-doc .title .line {
    width: 26%;
  }

  .doc-element {
    margin-right: 3%;
    width: 400px;
  }

  footer {
    margin-top: 100px;
  }

  .footer__menu__top a {
    font-size: 28px;
  }

  .inner-container a.link {
    font-size: 12px;
  }
}

@media (max-width: 1365px) {
  .burger {
    display: block;
  }

  .menu,
  .menu-hover {
    display: none;

    ul {
      flex-direction: column;
      height: 100%;
      padding: 130px;
      align-items: center;
      justify-content: space-between;
      display: flex;
      margin-top: 0;

       li {
         margin-right: 0;

         a {
           font-size: 16px;
         }
       }
    }
  }

  .modal-container h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    color: #368ED9;
    line-height: 42px;
    margin-bottom: 50px;
    text-align: center;
  }

  .modal-container label {
    display: block;
    font-weight: 600;
    color: #368ED9;
    width: 250px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .modal-container input[type="text"], .modal-container input[type="tel"], .modal-container input[type="number"], .modal-container textarea {
    width: 250px;
    margin-left: calc(50% - 125px);
    margin-bottom: 25px;
    height: 40px;
    border: 2px solid #9A9A9A;
    padding-left: 14px;
    padding-right: 14px;
  }

  .modal-container .confid p {
    margin-left: 15px;
    font-size: 12px;
    font-weight: 600;
  }

  .modal-container textarea {
    height: 235px;
  }

  .param-checkbox {
    height: 20px;
  }

  .container {
    width: 87%;
  }

  .search svg {
    width: 25px;
  }

  a.visually-impaired svg {
    width: 31px;
  }

  a.modal__call {
    padding: 16px;
  }

  a.modal__call svg {
    width: 30px;
  }

  .logo {
    width: 28%;
  }

  .tel a {
    font-size: 16px;
  }

  .tel p {
    font-size: 12px;
  }

  header {
    height: 115px;
  }

  .search-header {
    width: 87%;
    top: 55px;
  }

  .search-header.active {
    top: 113px;
  }

  @keyframes headerSearchActive {
    0% {
      top: 55px;
    }

    100% {
      top: 113px;
    }
  }

  @keyframes headerSearchDisActive {
    0% {
      top: 113px;
    }

    100% {
      top: 55px;
    }
  }

  .slider-element .container {
    padding-top: 52px;
    padding-bottom: 11px;
  }

  .slider-element h2 {
    width: 372px;
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
  }

  .slider-element p {
    font-size: 12px;
  }

  .slider-element {
    height: 371px !important;
  }

  .slider-element .btn {
    width: 231px;
    height: 40px;
    font-size: 14px;
  }

  .navigation {
    bottom: 11px;
    right: 68px;
    width: 115px;
  }

  .navigation__left, .navigation__right {
    width: 40px;
    height: 40px;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  ul.slick-dots {
    right: 81px;
  }

  section.gos-usl {
    margin-top: 119px;
  }

  .title h2 {
    font-size: 26px;
  }

  .title a {
    margin-left: 10px;
    color: #277EC9;
    font-size: 14px;
  }

  .title .line {
    width: 40%;
  }

  .title {
    margin-bottom: 45px;
  }

  .gos-usl {
    .inner-container__element {
      display: flex;
      margin-right: 0;
      margin-bottom: 84px;

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }

    .inner-container .image {
      margin-bottom: 0;
      width: 326px;
      height: 326px;
      margin-left: 64px;
      margin-right: 44px;
    }

    .inner-container .text {
      width: 326px;
      margin-left: 64px;
      margin-right: -10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .inner-container .text h3 {
      margin-bottom: 40px;
      line-height: 14px;
    }

    .inner-container .text a {
      margin-bottom: 23px;
      font-size: 12px;
      line-height: 12px;
    }
  }

  .index-news {

    .inner-container {
      justify-content: space-between;
    }

    .inner-container__element {
      margin-right: 0;
      margin-bottom: 50px;
    }

    .inner-container .image {
      margin-bottom: 20px;
      width: 326px;
      height: 326px;
    }

    .inner-container .text h3 {
      margin-bottom: 20px;
      line-height: 28px;
      font-size: 14px;
    }

    .inner-container .text {
      width: 326px;
    }

    .text p {
      font-size: 12px;
      margin-bottom: 21px;
    }

    p.date {
      font-size: 14px;
    }
  }

  .index-doc {
    margin-top: 87px;

    .inner-container {
      justify-content: space-between;
    }

    .title .line {
      width: 37%;
    }

    .doc-element {
      margin-right: 3%;
      width: 374px;
      height: auto;
      margin-bottom: 80px;

      &:before {
        width: 147px;
        height: 188px;
        left: 227px;
        bottom: 10px;
      }
    }

    .doc-element h3 {
      line-height: 28px;
      width: 326px;
      font-size: 14px;
      margin-bottom: 20px;
      -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
    }

    .doc-element p {
      margin-bottom: 20px;
      font-size: 12px;
      -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
    }

    .doc-element p.date {
      margin-bottom: 0;
      font-size: 12px;
      flex-basis: 14%;
    }
  }

  footer {
    margin-top: 130px;
    padding-bottom: 22px;
  }

  .footer_ipad.container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-top,
  .footer-mid,
  .footer-bot {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer__logo img {
    width: 122px;
    margin-bottom: 4px;
  }

  .footer__logo p {
    line-height: 15px;
    font-size: 12px;
  }

  .footer__logo {
    margin-bottom: 30px;
    width: 174px;
  }

  .footer-top-left {
    flex-basis: 185px;
  }

  .footer-top-center {
    flex-basis: 180px;
  }

  .footer-top-right {
    flex-basis: 260px;
  }

  .footer-top-center ul li {
    margin-bottom: 20px;
    a {
      color: white;
      font-size: 12px;
      line-height: 14px;
    }
  }

  a.footer-top-right__call {
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
    display: inline-block;
  }

  .footer-top .footer-top-right p {
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 55px;
  }

  .social {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-top-left a.footer__menu__bottom__left__logo,
  .footer-top-center a.footer__menu__bottom__left__logo {
    display: flex;
    align-items: center;

    img {
      height: 57px;
    }

    p {
      color: white;
      font-size: 7px;
      width: 120px;
      margin-left: 13px;
      line-height: 12px;
    }
  }

  .footer-top-right {
    form {
      position: relative;
    }

    input[type="text"] {
      width: 256px;
      height: 45px;
      padding-left: 15px;
      border: none;
      color: #9A9A9A;
      font-size: 14px;
    }

    button.btn-search {
      width: 55px;
      height: 45px;
      background-color: white;
      position: absolute;
      top: 0;
      right: 4px;
    }
  }

  .footer-mid {
    margin-bottom: 50px;
  }

  .footer-bot {
    align-items: flex-end;
  }

  svg.to-top {
    bottom: 14px;
    right: 14px;
    width: 40px;
    height: 40px;
  }
}


@media (max-width: 1023px) {
  .container {
    width: 95%;
  }

  .logo {
    width: 33%;
  }

  a.modal__call {
    padding: 6px;
  }

  .tel a {
    font-size: 14px;
  }

  .tel p {
    font-size: 10px;
  }

  .title .line {
    width: 26%;
  }

  .gos-usl .inner-container .image {
    margin-left: 20px;
    margin-right: 0;
  }

  .gos-usl .inner-container .text {
    width: 326px;
    margin-left: 35px;
    margin-right: 0;
  }

  .index-news .title .line {
    width: 57%;
  }

  .index-doc .title .line {
    width: 23%;
  }

  .index-doc .doc-element {
    margin-right: 1%;
    width: 320px;
  }

  .index-doc .doc-element:before {
    left: 180px;
  }

  .search-header {
    width: 95%;
  }
}

.burger__a{
  fill:#277ec9;
}

@media (max-width: 767px) {
  .logo p {
    display: none;
  }

  .logo img {
    height: 49px;
  }

  .tel {
    display: none;
  }

  a.visually-impaired {
    display: none;
  }

  a.modal__call {
    padding: 0;
    background-color: transparent;
  }

  .modal__call__a {
    fill: #277EC9;
  }
  .search svg {
    width: 18px;
  }

  a.modal__call svg {
    width: 20px;
  }

  a.modal__call p {
    display: none;
  }

  header {
    height: 72px;
  }

  .search-header {
    width: 95%;
    top: 10px;
  }

  .search-header.active {
    top: 70px;
    height: 40px;
  }

  @keyframes headerSearchActive {
    0% {
      top: 10px;
    }
    100% {
      top: 70px;
    }
  }

  @keyframes headerSearchDisActive {
    0% {
      top: 70px;
    }
    100% {
      top: 10px;
    }
  }
  .search-header input[type="text"] {
    height: 40px;
    font-size: 12px;
  }

  .search-header button.bth-search-header {
    width: 60px;
    height: 40px;
    font-size: 12px;
  }

  .slider-element {
    height: 500px !important;
    background-image: none!important;
    background-color: transparent;
  }

  .slider-element h2 {
    width: 254px;
    font-size: 12px;
    line-height: 23px;
    font-weight: 600;
    font-family: Helvetica;
    color: #277EC9;
  }

  .blue-filter {
    display: none;
  }

  .slider-element .container {
    padding-top: 69px;
    padding-bottom: 11px;
  }

  .slider-element p {
    width: 100%;
    color: black;
    font-weight: 500;
    line-height: 24px;
  }

  ul.slick-dots {
    display: none!important;
  }

  .slider-element .btn {
    width: 154px;
    height: 27px;
    font-size: 9px;
  }

  .navigation {
    bottom: 11px;
    right: 10px;
    width: 95px;
  }

  .navigation__left, .navigation__right {
    width: 29px;
    height: 29px;

    svg {
      width: 29px;
      height: 29px;
    }
  }

  section.gos-usl {
    margin-top: 33px;
  }

  .title {
    margin-bottom: 30px;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: flex-start;
  }

  .title h2 {
    font-size: 21px;
    margin-right: 0;
    margin-bottom: 13px;
    flex-basis: 100%;
  }

  .title .line {
    display: none;
  }

  .title a {
    margin-left: 0;
    font-size: 12px;
    flex-basis: 100%;
  }

  .gos-usl .inner-container__element {
    display: block;
    margin-bottom: 70px;
  }

  .gos-usl .inner-container .image {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 300px;
    margin-bottom: 13px;
  }

  .gos-usl .inner-container .text {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .gos-usl .inner-container .text h3 {
    margin-bottom: 20px;
    line-height: 14px;
    font-size: 12px;
  }

  .gos-usl .inner-container .text {
    a {
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 12px;
    }
    a.link {
      text-align: right;
    }
  }

  .index-news {
    margin-top: 140px;
  }

  .index-news .inner-container .image {
    margin-bottom: 13px;
    width: 100%;
    height: 300px;
  }

  .index-news .inner-container .text h3 {
    margin-bottom: 20px;
    line-height: 23px;
    font-size: 12px;
  }

  .index-news .inner-container .text {
    width: 100%;
  }

  .index-news .inner-container__element {
    margin-right: 0;
    margin-bottom: 70px;
    width: 100%;
  }

  .index-doc {
    margin-top: 50px;
  }

  .index-news .text p {
    width: 300px;
  }

  .index-doc .doc-element {
    margin-right: 0;
    width: 100%;
    margin-bottom: 70px;
  }

  .index-doc .doc-element h3 {
    line-height: 28px;
    width: 100%;
    font-size: 12px;
    margin-bottom: 23px;
    flex-basis: auto;
  }

  .index-doc .doc-element p {
    margin-bottom: 23px;
    font-size: 12px;
    flex-basis: auto;
    width: 100%;
  }

  .index-doc .doc-element p.date {
    flex-basis: auto;
  }

  footer {
    margin-top: 20px;
    padding-top: 28px;
    padding-bottom: 15px;
  }

  .footer-top .footer-top-center {
    display: none;
  }

  .footer-mid .footer-top-right {
    display: none;
  }

  .footer-top, .footer-mid, .footer-bot {
    flex-direction: column;
    align-items: center;
    justify-content: normal;
  }

  .footer__logo img {
    width: 115px;
    margin-bottom: 11px;
  }

  .footer-top-left {
    flex-basis: auto;
  }

  .footer__logo {
    margin-bottom: 38px;
    width: 205px;
  }

  a.footer-top-right__call {
    font-size: 24px;
  }

  .footer-top .footer-top-right p {
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 60px;
    font-size: 12px;
    text-align: center;
  }

  .social {
    width: 191px;
  }

  .footer-top-right {
    flex-basis: auto;
    margin-bottom: 55px;
  }

  .footer-mid {
    flex-direction: column-reverse;
  }

  .footer-top-center {
    flex-basis: auto;
    width: 90%;
    margin-bottom: 45px;
  }

  .footer-mid .footer-top-left {
    width: 90%;
  }

  .footer-top-left a.footer__menu__bottom__left__logo p, .footer-top-center a.footer__menu__bottom__left__logo p {
    color: white;
    font-size: 11px;
    width: 190px;
    margin-left: 19px;
    line-height: 18px;
  }

  .footer-bot {
    flex-direction: column-reverse;
  }

  .coopr {
    margin-top: 20px;
  }

  svg.to-top {
    bottom: 30px;
  }

  .index-doc .doc-element:before {
    right: 10px;
    left: auto;
  }

  .pop-up.fancybox-content, .menu.fancybox-content, .menu-hover.fancybox-content {
    height: 100vh;
    width: 100vw;
  }

  .modal-container form {
    width: 265px;
  }

  .modal-container h2 {
    font-size: 21px;
    line-height: 35px;
    margin: auto;
    margin-bottom: 20px;
    width: 250px;
    text-align: left;
  }

  .modal-container label {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .modal-container input[type="text"], .modal-container input[type="tel"], .modal-container input[type="number"], .modal-container textarea {
    height: 35px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .modal-container textarea {
    height: 157px;
  }

  .modal-container .confid p {
    font-size: 10px;
  }

  .modal-container .captcha label {
    font-size: 14px;
  }

  .menu ul, .menu-hover ul {
    padding: 60px;
  }

  button.fancybox-button.fancybox-close-small {
    top: 15px;
    right: 15px;
    padding: 0;
    width: 25px;
    height: 25px;
    background-image: url(../images/cancel.svg);
    background-size: 25px;
    opacity: 1;
  }
}

.slider-element h2 {
  margin-bottom: 0;
}