.news {
  .inner-container__element {
    margin-bottom: 80px;
  }
}

.pagination__a {
  fill:#262626;
  stroke:#000;
}

.pagination {
  display: flex;
  justify-content: center;
}

.modern-page-navigation {
  display: flex;
  align-items: center;

  a {
    margin-right: 10px;

    &:hover {
      color: #277EC9;
      font-weight: 600;
    }
  }
}

a.modern-page-previous {
  margin-right: 30px;
}

a.modern-page-next {
  margin-left: 20px;
  margin-right: 0!important;
}

span.modern-page-current {
  margin-right: 10px;
  color: #368ED9;
  font-weight: 600;
  text-decoration: underline;
}

@media (max-width: 1365px) {

  .modern-page-navigation a {
    margin-right: 25px;
    font-size: 21px;
  }

  a.modern-page-previous {
    margin-right: 44px;
  }

  span.modern-page-current {
    margin-right: 25px;
    font-size: 21px;
  }
}

@media (max-width: 767px) {

  .modern-page-navigation a {
    margin-right: 10px;
    font-size: 20px;
  }

  a.modern-page-previous {
    margin-right: 22px;
  }

  a.modern-page-next {
    margin-left: 9px;
  }

  span.modern-page-current {
    margin-right: 10px;
    font-size: 20px;
  }

  .pagination {
    margin-bottom: 40px;
  }
}


