.search form {
  position: relative;
  margin-bottom: 50px;

  input[type="text"] {
    width: 100%;
    border: 2px solid #277EC9;
    height: 57px;
    padding-left: 24px;
  }

  button.bth-search {
    width: 157px;
    height: 57px;
    background-color: #277EC9;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.result-text {
  text-align: left;
  color: #277EC9;
  margin-bottom: 50px;
}

.result-element {
  text-align: left;
  margin-bottom: 50px;

  a {
    color: #277EC9;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 10px;
    display: inline-block;
  }
}

.result-none p {
  font-family: Helvetica;
  font-weight: 500;
}

@media (max-width: 1365px) {
  .search-cont .container.container-min {
    width: 87%;
  }

  .result-text {
    margin-bottom: 80px;
    font-size: 14px;
    line-height: 28px;
  }

  .result-element {
    text-align: left;
    margin-bottom: 60px;
    font-size: 14px;
    width: 77%;
  }
}

@media (max-width: 1023px) {
  .search-cont .container.container-min {
    width: 95%;
  }
}

@media (max-width: 767px) {
  .search form {
    margin-bottom: 25px;
  }

  .result-text {
    margin-bottom: 50px;
  }

  .search form input[type="text"] {
    width: 100%;
    border: 1px solid #277EC9;
    height: 35px;
    padding-left: 10px;
    font-size: 12px;
  }

  .search form button.bth-search {
    width: 35px;
    height: 35px;
    background-color: #277EC9;
    color: #277EC9;
    font-size: 1px;
    position: absolute;
    top: 0;
    right: 0;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 35px;
      height: 35px;
      background-image: url('../images/search.svg');
      background-position: center;
      background-size: 19px;
      background-repeat: no-repeat;
    }
  }

  .result-element {
    text-align: left;
    margin-bottom: 50px;
    font-size: 12px;
    width: 100%;
  }

  .result-element a {
    color: #277EC9;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 20px;
    display: inline-block;
  }
}

.map-site {
  display: flex;
  justify-content: space-between;

  ul {
    flex-basis: 250px;
  }

  li {
    margin-bottom: 40px;

    &.title a {
      margin-left: 0;
      color: #277EC9;
      font-weight: 600;
    }
  }
}

@media (max-width: 1365px) {
  .map-site {
    flex-wrap: wrap;

    ul {
      margin-bottom: 50px;

      li {
        margin-bottom: 20px;

        a {
          font-size: 14px;
        }
      }
    }
  }
}

.container404 {
  height: 25vh;
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: Montserrat;
    color: #277EC9;
    margin-bottom: 60px;
  }

  a.btn {
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    letter-spacing: 0.075em;
    font-weight: 300;
    background-color: #277EC9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin-top: 60px;

    &:hover {
      background-color: #43A2F5;
    }
  }

  p {
    text-align: center;
  }
}

@media (max-width: 1365px) {
  .container404 {
    height: 250px;
  }
}

@media (max-width: 767px) {
  .container404 {
    height: 350px;
    margin-top: 20px;
  }
}

input.error {
  border: 2px solid #414141!important;
}

label.error{
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 46px;
    right: 16px;
    width: 30px;
    height: 30px;
    background-image: url('../images/error.svg');
    background-repeat: no-repeat;
  }
}

.vacancies label.error:before {
  top: 39px;
}

@media (max-width: 1919px) {
  label.error:before {
    top: 40px;
  }

  .vacancies label.error:before {
    top: 33px;
  }
}

@media (max-width: 1365px){
  label.error:before {
    top: 31px;
    right: 6px;
  }
  .vacancies label.error:before {
    top: 32px;
  }
}

@media (max-width: 767px) {
  label.error:before {
    top: 26px;
    right: 3px;
  }

  .vacancies label.error:before {
    top: 29px;
  }
}

//contacts

div#map {
  width: 1154px;
  height: 665px;
}

.contacts-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -150px;
  margin-bottom: 120px;
}

.left .staff-composition__element {
  width: 400px;

  .text-element {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      a {
        color: #277EC9;
      }

      .text-element__a {
        fill:  #277EC9;
      }
    }



    svg {
      width: 20px;
      height: 20px;
      margin-right: 25px;
    }
  }
}

h3.maps-link {
  color: #277EC9;
  font-family: Helvetica;
  font-weight: 600;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 40px;
}

@media (max-width: 1365px) {
  div#map {
    width: 454px;
    height: 333px;
  }

  .contacts-top {
    margin-top: 0;
    margin-bottom: 90px;
  }

  h3.maps-link {
    font-size: 14px;
    margin-bottom: 35px;
  }

  .left .staff-composition__element .text-element {
    margin-bottom: 30px;
    p {
      font-size: 14px;
      a {
        color: #277EC9;
      }
    }
  }
}

@media (max-width: 767px) {
  .contacts-top {
    flex-direction: column-reverse;
    align-items: normal;
    justify-content: normal;
  }

  div#map {
    width: 100%;
    height: 166px;
    margin-bottom: 20px;
  }

  .left .staff-composition__element {
    width: 100%;
  }

  h3.maps-link {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .left .staff-composition__element .text-element {
    margin-bottom: 20px ;
    p {
      font-size: 12px;
      a {
        color: #277EC9;
      }
    }
  }

}

.maps-link {
  cursor: pointer;
}


