<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Социальная защита</title>
    <script src="assets/script/vendor.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="assets/script/slick.min.js"></script>
    <link rel="stylesheet" href="assets/style/style.css">
    <link rel="stylesheet" href="assets/style/slick.css">
    <link rel="stylesheet" href="assets/style/slick-theme.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
</head>
<body class="body__overflow">
<div class="wrapper">
    {{> header}}
    <main>
        {{> gos-description}}
    </main>
    {{> footer}}

</div>
<script src="assets/script/script.js"></script>
</body>
</html>