<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-item">
            <a href="index.html">Главная </a> <span>/ Контакты</span>
        </div>

        <h1>Контакты</h1>
    </div>
</section>

<section class="contacts">
    <div class="container">
        <div class="contacts-top">
            <div class="left">
                <div class="staff-composition__element">
                    <h3 class="maps-link" data-lat="53.187944" data-lng="50.099238" data-size="big">ОСНОВНОЕ ПОДРАЗДЕЛЕНИЕ - ИЛИ ЕГО ПОЛНОЕ И ДЛИННОЕ НАЗВАНИЕ</h3>
                    <div class="text-element adress">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.314" height="20.439" viewBox="0 0 14.314 20.439">
                            <path d="M23.27,12a2.713,2.713,0,1,0,2.713,2.713A2.717,2.717,0,0,0,23.27,12Zm0,4.651a1.938,1.938,0,
                        1,1,1.938-1.938A1.94,1.94,0,0,1,23.27,16.651Z" transform="translate(-16.047 -7.58)"/>
                            <path d="M20.423,2.1A7.158,7.158,0,0,0,10.3,2.1a8.153,8.153,0,0,0-.673,10.061l5.735,8.282,
                        5.726-8.271A8.156,8.156,0,0,0,20.423,2.1Zm.059,9.636-5.121,7.4-5.129-7.407a7.367,7.367,0,0,
                        1,.6-9.1,6.411,6.411,0,0,1,9.067,0A7.37,7.37,0,0,1,20.482,11.732Z" transform="translate(-8.203 0)"/>
                        </svg>
                        <p>443099, г.Самара, ул. Некрасовская, 63</p>
                    </div>
                    <div class="text-element number">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.219" height="19.213" viewBox="0 0 19.219 19.213">
                            <g transform="translate(0 0)">
                                <g transform="translate(0 0)">
                                    <path class="text-element__a" d="M15.443,19.217a8.259,8.259,0,0,1-2.826-.6,21.214,21.214,0,0,1-7.132-4.884A21.211,21.211,
                                0,0,1,.6,6.6C-.2,4.483-.2,2.746.595,1.951c.115-.115.232-.238.352-.364C1.673.824,2.512-.042,3.579,0A3.156,
                                3.156,0,0,1,5.8,1.426c2.195,2.731,1.205,3.7.06,4.832l-.2.2c-.187.187-.542,1.055,2.753,4.349a18.34,18.34,0,
                                0,0,2.725,2.34c.462.3,1.287.752,1.625.414l.2-.206c1.127-1.144,2.1-2.13,4.83.064a3.15,3.15,0,0,1,1.421,
                                2.219c.045,1.087-.821,1.909-1.585,2.634-.125.12-.248.235-.362.349A2.522,2.522,0,0,1,15.443,19.217ZM3.5.649c-.772,
                                0-1.47.734-2.087,1.383-.125.131-.246.258-.364.376C.459,3,.52,4.555,1.205,6.372a20.568,20.568,0,0,0,4.737,6.9,
                                20.567,20.567,0,0,0,6.9,4.736c1.817.686,3.373.745,3.965.153.118-.118.244-.238.374-.361.664-.631,1.417-1.346,
                                1.385-2.14a2.612,2.612,0,0,0-1.18-1.742c-2.275-1.828-2.91-1.181-3.965-.114l-.207.209c-.5.5-1.321.394-2.434-.33a18.949,
                                18.949,0,0,1-2.83-2.424h0C5.218,8.529,4.343,6.857,5.2,6l.206-.2C6.477,4.741,7.123,4.1,5.295,1.829A2.62,2.62,0,0,0,
                                3.553.65Z" transform="translate(0 -0.003)"/>
                                </g>
                                <g transform="translate(9.216 0.004)">
                                    <path class="text-element__a" d="M21.979,9.993a.346.346,0,0,1-.321-.476,2.91,2.91,0,0,0-3.9-3.745.346.346,0,0,1-.285-.63A3.6,3.6,0,
                                0,1,22.3,9.777.347.347,0,0,1,21.979,9.993Z" transform="translate(-15.9 -1.491)"/>
                                    <path class="text-element__a" d="M24.458,9.766a.346.346,0,0,1-.321-.476,6.245,6.245,0,0,0-8.36-8.039.347.347,0,0,1-.285-.632,6.938,
                                6.938,0,0,1,9.286,8.93A.346.346,0,0,1,24.458,9.766Z" transform="translate(-15.289 -0.009)"/>
                                </g>
                            </g>
                        </svg>
                        <p><a href="8 (846) 332-90-54">8 (846) 332-90-54</a></p>
                    </div>
                    <div class="text-element time">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.219" height="20.219" viewBox="0 0 20.219 20.219">
                            <g transform="translate(0 -0.001)">
                                <path d="M10.109,0A10.109,10.109,0,1,0,20.218,10.109,10.12,10.12,0,0,0,10.109,0Zm0,19.544a9.435,9.435,0,1,1,9.435-9.435A9.446,9.446,0,0,1,10.109,19.544Z"/>
                                <path d="M22.536,18.767V15.228a.349.349,0,0,0-.7,0v3.539a1.394,1.394,0,0,0-1,1H18.349a.349.349,0,1,0,0,.7h2.492a1.393,1.393,0,1,0,1.7-1.7Zm-.349,2.044a.7.7,
                            0,1,1,.7-.7A.7.7,0,0,1,22.187,20.811Z" transform="translate(-12.013 -9.948)"/>
                                <path d="M29.349,7.926a.349.349,0,0,0,.349-.349V7.228a.349.349,0,1,0-.7,0v.349A.349.349,0,0,0,29.349,7.926Z" transform="translate(-19.24 -4.479)"/>
                                <path d="M29.349,49.879a.349.349,0,0,0-.349.349v.349a.349.349,0,1,0,.7,0v-.349A.349.349,0,0,0,29.349,49.879Z" transform="translate(-19.24 -33.193)"/>
                                <path d="M50.7,28.879h-.349a.349.349,0,1,0,0,.7H50.7a.349.349,0,0,0,0-.7Z" transform="translate(-33.272 -19.16)"/>
                                <path d="M7.7,28.879H7.349a.349.349,0,1,0,0,.7H7.7a.349.349,0,1,0,0-.7Z" transform="translate(-4.557 -19.16)"/>
                                <path d="M44.2,13.424l-.247.247a.349.349,0,1,0,.493.493l.247-.247a.349.349,0,1,0-.493-.493Z" transform="translate(-29.098 -8.841)"/>
                                <path d="M13.793,43.83l-.247.247a.349.349,0,1,0,.493.493l.247-.247a.349.349,0,0,0-.493-.493Z" transform="translate(-8.921 -29.018)"/>
                                <path d="M44.444,43.83a.349.349,0,1,0-.493.493l.247.247a.349.349,0,1,0,.493-.493Z" transform="translate(-29.098 -29.018)"/>
                                <path d="M14.039,13.424a.349.349,0,0,0-.493.493l.247.247a.349.349,0,0,0,.493-.493Z" transform="translate(-8.921 -8.84)"/>
                            </g>
                        </svg>
                        <p>с 10:00 до 12:00</p>
                    </div>
                    <div class="text-element mail">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.217" height="14.229" viewBox="0 0 20.217 14.229">
                            <g transform="translate(0 0)">
                                <path class="text-element__a" d="M18.587,18.711H1.63A1.624,1.624,0,0,1,0,17.1V6.1A1.624,1.624,0,0,1,1.63,4.482H18.587A1.624,1.624,0,0,1,20.217,6.1v11A1.624,1.624,0,0,1,18.587,
                            18.711ZM1.63,5.127A.974.974,0,0,0,.652,6.1v11a.974.974,0,0,0,.978.968H18.587a.974.974,0,0,0,.978-.968V6.1a.974.974,0,0,0-.978-.968Z" transform="translate(0 -4.482)"/>
                                <path class="text-element__a" d="M10.249,14.03a1.738,1.738,0,0,1-1.183-.454L.83,5.943A.357.357,0,0,1,.8,5.46a.309.309,0,0,1,.455-.034L9.49,13.059a1.152,1.152,0,0,0,1.52,
                            0l8.233-7.633a.307.307,0,0,1,.455.034.357.357,0,0,1-.031.483l-8.234,7.632A1.736,1.736,0,0,1,10.249,14.03Z" transform="translate(-0.141 -4.65)"/>
                            </g>
                        </svg>
                        <p><a href="samgku@socio.samregion.ru">samgku@socio.samregion.ru</a></p>
                    </div>
                    <div class="text-element mail">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.219" height="16.473" viewBox="0 0 20.219 16.473">
                            <g transform="translate(0.001 0)">
                                <path class="text-element__a" d="M20.1,49.2a.451.451,0,0,0-.412-.1l-.686.24a4.7,4.7,0,0,0,.858-1.476.354.354,0,0,0-.069-.412.365.365,0,0,0-.412-.069,25.136,25.136,0,0,
                            1-2.471.961c0,.034-.034,0-.069,0a7.145,7.145,0,0,0-2.848-1,4.536,4.536,0,0,0-4.392,4.6v.137a12.507,12.507,0,0,1-7.652-3.946l-.343-.343-.206.412a4.643,
                            4.643,0,0,0,1,5.628,2.8,2.8,0,0,1-1.407-.618.411.411,0,0,0-.48-.034.422.422,0,0,0-.172.446,6.734,6.734,0,0,0,2.985,3.706,2.752,2.752,0,0,1-1.647-.412.484.484,
                            0,0,0-.48.034.375.375,0,0,0-.137.446A4.137,4.137,0,0,0,4.8,60.32a8.42,8.42,0,0,1-4.324,1.1.489.489,0,0,0-.446.309.477.477,0,0,0,.137.515c1.235,1,3.981,1.579,
                            7.378,1.579,6.04,0,10.981-5.388,10.981-12.01v-.1a3.4,3.4,0,0,0,1.681-2.093A.451.451,0,0,0,20.1,49.2Zm-2.059,1.956-.206.069v.583c0,6.245-4.633,11.324-10.295,
                            11.324A15.291,15.291,0,0,1,1.195,62.07,8.259,8.259,0,0,0,6,60.32l.858-.618H5.827c-1.956,0-3.157-.549-3.843-1.853a5.4,5.4,0,0,0,1.99.172,6.61,6.61,0,0,1,
                            .824-.034l.1-.686a6.2,6.2,0,0,1-3.6-3.123,5.173,5.173,0,0,0,2.128.377H4.489l-.858-.618C2.91,53.423.783,51.6,1.812,49c2.2,2.162,4.289,3.157,8.064,
                            3.843l.412.069v-.961a3.848,3.848,0,0,1,3.706-3.912,6.309,6.309,0,0,1,2.471.892.787.787,0,0,0,.618.069c.515-.172,1.132-.412,1.819-.686a5.485,5.485,0,0,1-1.27,
                            1.441.413.413,0,0,0-.1.48.34.34,0,0,0,.446.172l1.338-.446A2.425,2.425,0,0,1,18.043,51.158Z" transform="translate(-0.001 -47.348)"/>
                            </g>
                        </svg>
                        <p><a href="https://twitter.com/samgku">https://twitter.com/samgku</a></p>
                    </div>
                </div>
            </div>
            <div class="right" id="map"></div>
        </div>

        <div class="contacts-bottom">
            <div class="staff-composition__elements">
                <div class="staff-composition__element">
                    <h3 class="maps-link" data-size="small" data-lat="53.223804" data-lng="50.254956">УПРАВЛЕНИЕ КРАСНОГЛИНСКОГО РАЙОНА</h3>
                    <div class="text-element adress">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.314" height="20.439" viewBox="0 0 14.314 20.439">
                            <path d="M23.27,12a2.713,2.713,0,1,0,2.713,2.713A2.717,2.717,0,0,0,23.27,12Zm0,4.651a1.938,1.938,0,
                        1,1,1.938-1.938A1.94,1.94,0,0,1,23.27,16.651Z" transform="translate(-16.047 -7.58)"/>
                            <path d="M20.423,2.1A7.158,7.158,0,0,0,10.3,2.1a8.153,8.153,0,0,0-.673,10.061l5.735,8.282,
                        5.726-8.271A8.156,8.156,0,0,0,20.423,2.1Zm.059,9.636-5.121,7.4-5.129-7.407a7.367,7.367,0,0,
                        1,.6-9.1,6.411,6.411,0,0,1,9.067,0A7.37,7.37,0,0,1,20.482,11.732Z" transform="translate(-8.203 0)"/>
                        </svg>
                        <p>443099, г.Самара, ул. Некрасовская, 63</p>
                    </div>
                    <div class="text-element number">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.219" height="19.213" viewBox="0 0 19.219 19.213">
                            <g transform="translate(0 0)">
                                <g transform="translate(0 0)">
                                    <path class="text-element__a" d="M15.443,19.217a8.259,8.259,0,0,1-2.826-.6,21.214,21.214,0,0,1-7.132-4.884A21.211,21.211,
                                0,0,1,.6,6.6C-.2,4.483-.2,2.746.595,1.951c.115-.115.232-.238.352-.364C1.673.824,2.512-.042,3.579,0A3.156,
                                3.156,0,0,1,5.8,1.426c2.195,2.731,1.205,3.7.06,4.832l-.2.2c-.187.187-.542,1.055,2.753,4.349a18.34,18.34,0,
                                0,0,2.725,2.34c.462.3,1.287.752,1.625.414l.2-.206c1.127-1.144,2.1-2.13,4.83.064a3.15,3.15,0,0,1,1.421,
                                2.219c.045,1.087-.821,1.909-1.585,2.634-.125.12-.248.235-.362.349A2.522,2.522,0,0,1,15.443,19.217ZM3.5.649c-.772,
                                0-1.47.734-2.087,1.383-.125.131-.246.258-.364.376C.459,3,.52,4.555,1.205,6.372a20.568,20.568,0,0,0,4.737,6.9,
                                20.567,20.567,0,0,0,6.9,4.736c1.817.686,3.373.745,3.965.153.118-.118.244-.238.374-.361.664-.631,1.417-1.346,
                                1.385-2.14a2.612,2.612,0,0,0-1.18-1.742c-2.275-1.828-2.91-1.181-3.965-.114l-.207.209c-.5.5-1.321.394-2.434-.33a18.949,
                                18.949,0,0,1-2.83-2.424h0C5.218,8.529,4.343,6.857,5.2,6l.206-.2C6.477,4.741,7.123,4.1,5.295,1.829A2.62,2.62,0,0,0,
                                3.553.65Z" transform="translate(0 -0.003)"/>
                                </g>
                                <g transform="translate(9.216 0.004)">
                                    <path class="text-element__a" d="M21.979,9.993a.346.346,0,0,1-.321-.476,2.91,2.91,0,0,0-3.9-3.745.346.346,0,0,1-.285-.63A3.6,3.6,0,
                                0,1,22.3,9.777.347.347,0,0,1,21.979,9.993Z" transform="translate(-15.9 -1.491)"/>
                                    <path class="text-element__a" d="M24.458,9.766a.346.346,0,0,1-.321-.476,6.245,6.245,0,0,0-8.36-8.039.347.347,0,0,1-.285-.632,6.938,
                                6.938,0,0,1,9.286,8.93A.346.346,0,0,1,24.458,9.766Z" transform="translate(-15.289 -0.009)"/>
                                </g>
                            </g>
                        </svg>
                        <p><a href="8 (846) 332-90-54">8 (846) 332-90-54</a></p>
                    </div>
                    <div class="text-element time">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.219" height="20.219" viewBox="0 0 20.219 20.219">
                            <g transform="translate(0 -0.001)">
                                <path d="M10.109,0A10.109,10.109,0,1,0,20.218,10.109,10.12,10.12,0,0,0,10.109,0Zm0,19.544a9.435,9.435,0,1,1,9.435-9.435A9.446,9.446,0,0,1,10.109,19.544Z"/>
                                <path d="M22.536,18.767V15.228a.349.349,0,0,0-.7,0v3.539a1.394,1.394,0,0,0-1,1H18.349a.349.349,0,1,0,0,.7h2.492a1.393,1.393,0,1,0,1.7-1.7Zm-.349,2.044a.7.7,
                            0,1,1,.7-.7A.7.7,0,0,1,22.187,20.811Z" transform="translate(-12.013 -9.948)"/>
                                <path d="M29.349,7.926a.349.349,0,0,0,.349-.349V7.228a.349.349,0,1,0-.7,0v.349A.349.349,0,0,0,29.349,7.926Z" transform="translate(-19.24 -4.479)"/>
                                <path d="M29.349,49.879a.349.349,0,0,0-.349.349v.349a.349.349,0,1,0,.7,0v-.349A.349.349,0,0,0,29.349,49.879Z" transform="translate(-19.24 -33.193)"/>
                                <path d="M50.7,28.879h-.349a.349.349,0,1,0,0,.7H50.7a.349.349,0,0,0,0-.7Z" transform="translate(-33.272 -19.16)"/>
                                <path d="M7.7,28.879H7.349a.349.349,0,1,0,0,.7H7.7a.349.349,0,1,0,0-.7Z" transform="translate(-4.557 -19.16)"/>
                                <path d="M44.2,13.424l-.247.247a.349.349,0,1,0,.493.493l.247-.247a.349.349,0,1,0-.493-.493Z" transform="translate(-29.098 -8.841)"/>
                                <path d="M13.793,43.83l-.247.247a.349.349,0,1,0,.493.493l.247-.247a.349.349,0,0,0-.493-.493Z" transform="translate(-8.921 -29.018)"/>
                                <path d="M44.444,43.83a.349.349,0,1,0-.493.493l.247.247a.349.349,0,1,0,.493-.493Z" transform="translate(-29.098 -29.018)"/>
                                <path d="M14.039,13.424a.349.349,0,0,0-.493.493l.247.247a.349.349,0,0,0,.493-.493Z" transform="translate(-8.921 -8.84)"/>
                            </g>
                        </svg>
                        <p>с 10:00 до 12:00</p>
                    </div>
                    <div class="text-element mail">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.217" height="14.229" viewBox="0 0 20.217 14.229">
                            <g transform="translate(0 0)">
                                <path class="text-element__a" d="M18.587,18.711H1.63A1.624,1.624,0,0,1,0,17.1V6.1A1.624,1.624,0,0,1,1.63,4.482H18.587A1.624,1.624,0,0,1,20.217,6.1v11A1.624,1.624,0,0,1,18.587,
                            18.711ZM1.63,5.127A.974.974,0,0,0,.652,6.1v11a.974.974,0,0,0,.978.968H18.587a.974.974,0,0,0,.978-.968V6.1a.974.974,0,0,0-.978-.968Z" transform="translate(0 -4.482)"/>
                                <path class="text-element__a" d="M10.249,14.03a1.738,1.738,0,0,1-1.183-.454L.83,5.943A.357.357,0,0,1,.8,5.46a.309.309,0,0,1,.455-.034L9.49,13.059a1.152,1.152,0,0,0,1.52,
                            0l8.233-7.633a.307.307,0,0,1,.455.034.357.357,0,0,1-.031.483l-8.234,7.632A1.736,1.736,0,0,1,10.249,14.03Z" transform="translate(-0.141 -4.65)"/>
                            </g>
                        </svg>
                        <p><a href="samgku@socio.samregion.ru">samgku@socio.samregion.ru</a></p>
                    </div>
                    <div class="text-element mail">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.219" height="16.473" viewBox="0 0 20.219 16.473">
                            <g transform="translate(0.001 0)">
                                <path class="text-element__a" d="M20.1,49.2a.451.451,0,0,0-.412-.1l-.686.24a4.7,4.7,0,0,0,.858-1.476.354.354,0,0,0-.069-.412.365.365,0,0,0-.412-.069,25.136,25.136,0,0,
                            1-2.471.961c0,.034-.034,0-.069,0a7.145,7.145,0,0,0-2.848-1,4.536,4.536,0,0,0-4.392,4.6v.137a12.507,12.507,0,0,1-7.652-3.946l-.343-.343-.206.412a4.643,
                            4.643,0,0,0,1,5.628,2.8,2.8,0,0,1-1.407-.618.411.411,0,0,0-.48-.034.422.422,0,0,0-.172.446,6.734,6.734,0,0,0,2.985,3.706,2.752,2.752,0,0,1-1.647-.412.484.484,
                            0,0,0-.48.034.375.375,0,0,0-.137.446A4.137,4.137,0,0,0,4.8,60.32a8.42,8.42,0,0,1-4.324,1.1.489.489,0,0,0-.446.309.477.477,0,0,0,.137.515c1.235,1,3.981,1.579,
                            7.378,1.579,6.04,0,10.981-5.388,10.981-12.01v-.1a3.4,3.4,0,0,0,1.681-2.093A.451.451,0,0,0,20.1,49.2Zm-2.059,1.956-.206.069v.583c0,6.245-4.633,11.324-10.295,
                            11.324A15.291,15.291,0,0,1,1.195,62.07,8.259,8.259,0,0,0,6,60.32l.858-.618H5.827c-1.956,0-3.157-.549-3.843-1.853a5.4,5.4,0,0,0,1.99.172,6.61,6.61,0,0,1,
                            .824-.034l.1-.686a6.2,6.2,0,0,1-3.6-3.123,5.173,5.173,0,0,0,2.128.377H4.489l-.858-.618C2.91,53.423.783,51.6,1.812,49c2.2,2.162,4.289,3.157,8.064,
                            3.843l.412.069v-.961a3.848,3.848,0,0,1,3.706-3.912,6.309,6.309,0,0,1,2.471.892.787.787,0,0,0,.618.069c.515-.172,1.132-.412,1.819-.686a5.485,5.485,0,0,1-1.27,
                            1.441.413.413,0,0,0-.1.48.34.34,0,0,0,.446.172l1.338-.446A2.425,2.425,0,0,1,18.043,51.158Z" transform="translate(-0.001 -47.348)"/>
                            </g>
                        </svg>
                        <p><a href="https://twitter.com/samgku">https://twitter.com/samgku</a></p>
                    </div>
                </div>
                <div data-size="small" class="staff-composition__element">
                    <h3 class="maps-link" data-size="small" data-lat="53.188999" data-lng="50.100648">УПРАВЛЕНИЕ КИРОВСКОГО РАЙОНА</h3>
                    <div class="text-element adress">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.314" height="20.439" viewBox="0 0 14.314 20.439">
                            <path d="M23.27,12a2.713,2.713,0,1,0,2.713,2.713A2.717,2.717,0,0,0,23.27,12Zm0,4.651a1.938,1.938,0,
                        1,1,1.938-1.938A1.94,1.94,0,0,1,23.27,16.651Z" transform="translate(-16.047 -7.58)"/>
                            <path d="M20.423,2.1A7.158,7.158,0,0,0,10.3,2.1a8.153,8.153,0,0,0-.673,10.061l5.735,8.282,
                        5.726-8.271A8.156,8.156,0,0,0,20.423,2.1Zm.059,9.636-5.121,7.4-5.129-7.407a7.367,7.367,0,0,
                        1,.6-9.1,6.411,6.411,0,0,1,9.067,0A7.37,7.37,0,0,1,20.482,11.732Z" transform="translate(-8.203 0)"/>
                        </svg>
                        <p>443099, г.Самара, ул. Некрасовская, 63</p>
                    </div>
                    <div class="text-element number">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.219" height="19.213" viewBox="0 0 19.219 19.213">
                            <g transform="translate(0 0)">
                                <g transform="translate(0 0)">
                                    <path class="text-element__a" d="M15.443,19.217a8.259,8.259,0,0,1-2.826-.6,21.214,21.214,0,0,1-7.132-4.884A21.211,21.211,
                                0,0,1,.6,6.6C-.2,4.483-.2,2.746.595,1.951c.115-.115.232-.238.352-.364C1.673.824,2.512-.042,3.579,0A3.156,
                                3.156,0,0,1,5.8,1.426c2.195,2.731,1.205,3.7.06,4.832l-.2.2c-.187.187-.542,1.055,2.753,4.349a18.34,18.34,0,
                                0,0,2.725,2.34c.462.3,1.287.752,1.625.414l.2-.206c1.127-1.144,2.1-2.13,4.83.064a3.15,3.15,0,0,1,1.421,
                                2.219c.045,1.087-.821,1.909-1.585,2.634-.125.12-.248.235-.362.349A2.522,2.522,0,0,1,15.443,19.217ZM3.5.649c-.772,
                                0-1.47.734-2.087,1.383-.125.131-.246.258-.364.376C.459,3,.52,4.555,1.205,6.372a20.568,20.568,0,0,0,4.737,6.9,
                                20.567,20.567,0,0,0,6.9,4.736c1.817.686,3.373.745,3.965.153.118-.118.244-.238.374-.361.664-.631,1.417-1.346,
                                1.385-2.14a2.612,2.612,0,0,0-1.18-1.742c-2.275-1.828-2.91-1.181-3.965-.114l-.207.209c-.5.5-1.321.394-2.434-.33a18.949,
                                18.949,0,0,1-2.83-2.424h0C5.218,8.529,4.343,6.857,5.2,6l.206-.2C6.477,4.741,7.123,4.1,5.295,1.829A2.62,2.62,0,0,0,
                                3.553.65Z" transform="translate(0 -0.003)"/>
                                </g>
                                <g transform="translate(9.216 0.004)">
                                    <path class="text-element__a" d="M21.979,9.993a.346.346,0,0,1-.321-.476,2.91,2.91,0,0,0-3.9-3.745.346.346,0,0,1-.285-.63A3.6,3.6,0,
                                0,1,22.3,9.777.347.347,0,0,1,21.979,9.993Z" transform="translate(-15.9 -1.491)"/>
                                    <path class="text-element__a" d="M24.458,9.766a.346.346,0,0,1-.321-.476,6.245,6.245,0,0,0-8.36-8.039.347.347,0,0,1-.285-.632,6.938,
                                6.938,0,0,1,9.286,8.93A.346.346,0,0,1,24.458,9.766Z" transform="translate(-15.289 -0.009)"/>
                                </g>
                            </g>
                        </svg>
                        <p><a href="8 (846) 332-90-54">8 (846) 332-90-54</a></p>
                    </div>
                    <div class="text-element time">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.219" height="20.219" viewBox="0 0 20.219 20.219">
                            <g transform="translate(0 -0.001)">
                                <path d="M10.109,0A10.109,10.109,0,1,0,20.218,10.109,10.12,10.12,0,0,0,10.109,0Zm0,19.544a9.435,9.435,0,1,1,9.435-9.435A9.446,9.446,0,0,1,10.109,19.544Z"/>
                                <path d="M22.536,18.767V15.228a.349.349,0,0,0-.7,0v3.539a1.394,1.394,0,0,0-1,1H18.349a.349.349,0,1,0,0,.7h2.492a1.393,1.393,0,1,0,1.7-1.7Zm-.349,2.044a.7.7,
                            0,1,1,.7-.7A.7.7,0,0,1,22.187,20.811Z" transform="translate(-12.013 -9.948)"/>
                                <path d="M29.349,7.926a.349.349,0,0,0,.349-.349V7.228a.349.349,0,1,0-.7,0v.349A.349.349,0,0,0,29.349,7.926Z" transform="translate(-19.24 -4.479)"/>
                                <path d="M29.349,49.879a.349.349,0,0,0-.349.349v.349a.349.349,0,1,0,.7,0v-.349A.349.349,0,0,0,29.349,49.879Z" transform="translate(-19.24 -33.193)"/>
                                <path d="M50.7,28.879h-.349a.349.349,0,1,0,0,.7H50.7a.349.349,0,0,0,0-.7Z" transform="translate(-33.272 -19.16)"/>
                                <path d="M7.7,28.879H7.349a.349.349,0,1,0,0,.7H7.7a.349.349,0,1,0,0-.7Z" transform="translate(-4.557 -19.16)"/>
                                <path d="M44.2,13.424l-.247.247a.349.349,0,1,0,.493.493l.247-.247a.349.349,0,1,0-.493-.493Z" transform="translate(-29.098 -8.841)"/>
                                <path d="M13.793,43.83l-.247.247a.349.349,0,1,0,.493.493l.247-.247a.349.349,0,0,0-.493-.493Z" transform="translate(-8.921 -29.018)"/>
                                <path d="M44.444,43.83a.349.349,0,1,0-.493.493l.247.247a.349.349,0,1,0,.493-.493Z" transform="translate(-29.098 -29.018)"/>
                                <path d="M14.039,13.424a.349.349,0,0,0-.493.493l.247.247a.349.349,0,0,0,.493-.493Z" transform="translate(-8.921 -8.84)"/>
                            </g>
                        </svg>
                        <p>с 10:00 до 12:00</p>
                    </div>
                    <div class="text-element mail">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.217" height="14.229" viewBox="0 0 20.217 14.229">
                            <g transform="translate(0 0)">
                                <path class="text-element__a" d="M18.587,18.711H1.63A1.624,1.624,0,0,1,0,17.1V6.1A1.624,1.624,0,0,1,1.63,4.482H18.587A1.624,1.624,0,0,1,20.217,6.1v11A1.624,1.624,0,0,1,18.587,
                            18.711ZM1.63,5.127A.974.974,0,0,0,.652,6.1v11a.974.974,0,0,0,.978.968H18.587a.974.974,0,0,0,.978-.968V6.1a.974.974,0,0,0-.978-.968Z" transform="translate(0 -4.482)"/>
                                <path class="text-element__a" d="M10.249,14.03a1.738,1.738,0,0,1-1.183-.454L.83,5.943A.357.357,0,0,1,.8,5.46a.309.309,0,0,1,.455-.034L9.49,13.059a1.152,1.152,0,0,0,1.52,
                            0l8.233-7.633a.307.307,0,0,1,.455.034.357.357,0,0,1-.031.483l-8.234,7.632A1.736,1.736,0,0,1,10.249,14.03Z" transform="translate(-0.141 -4.65)"/>
                            </g>
                        </svg>
                        <p><a href="samgku@socio.samregion.ru">samgku@socio.samregion.ru</a></p>
                    </div>
                    <div class="text-element mail">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.219" height="16.473" viewBox="0 0 20.219 16.473">
                            <g transform="translate(0.001 0)">
                                <path class="text-element__a" d="M20.1,49.2a.451.451,0,0,0-.412-.1l-.686.24a4.7,4.7,0,0,0,.858-1.476.354.354,0,0,0-.069-.412.365.365,0,0,0-.412-.069,25.136,25.136,0,0,
                            1-2.471.961c0,.034-.034,0-.069,0a7.145,7.145,0,0,0-2.848-1,4.536,4.536,0,0,0-4.392,4.6v.137a12.507,12.507,0,0,1-7.652-3.946l-.343-.343-.206.412a4.643,
                            4.643,0,0,0,1,5.628,2.8,2.8,0,0,1-1.407-.618.411.411,0,0,0-.48-.034.422.422,0,0,0-.172.446,6.734,6.734,0,0,0,2.985,3.706,2.752,2.752,0,0,1-1.647-.412.484.484,
                            0,0,0-.48.034.375.375,0,0,0-.137.446A4.137,4.137,0,0,0,4.8,60.32a8.42,8.42,0,0,1-4.324,1.1.489.489,0,0,0-.446.309.477.477,0,0,0,.137.515c1.235,1,3.981,1.579,
                            7.378,1.579,6.04,0,10.981-5.388,10.981-12.01v-.1a3.4,3.4,0,0,0,1.681-2.093A.451.451,0,0,0,20.1,49.2Zm-2.059,1.956-.206.069v.583c0,6.245-4.633,11.324-10.295,
                            11.324A15.291,15.291,0,0,1,1.195,62.07,8.259,8.259,0,0,0,6,60.32l.858-.618H5.827c-1.956,0-3.157-.549-3.843-1.853a5.4,5.4,0,0,0,1.99.172,6.61,6.61,0,0,1,
                            .824-.034l.1-.686a6.2,6.2,0,0,1-3.6-3.123,5.173,5.173,0,0,0,2.128.377H4.489l-.858-.618C2.91,53.423.783,51.6,1.812,49c2.2,2.162,4.289,3.157,8.064,
                            3.843l.412.069v-.961a3.848,3.848,0,0,1,3.706-3.912,6.309,6.309,0,0,1,2.471.892.787.787,0,0,0,.618.069c.515-.172,1.132-.412,1.819-.686a5.485,5.485,0,0,1-1.27,
                            1.441.413.413,0,0,0-.1.48.34.34,0,0,0,.446.172l1.338-.446A2.425,2.425,0,0,1,18.043,51.158Z" transform="translate(-0.001 -47.348)"/>
                            </g>
                        </svg>
                        <p><a href="https://twitter.com/samgku">https://twitter.com/samgku</a></p>
                    </div>
                </div>
                <div data-size="small" class="staff-composition__element">
                    <h3 class="maps-link" data-size="small" data-lat="53.258216" data-lng="50.244350">УПРАВЛЕНИЕ ОКТЯБРЬСКОГО РАЙОНА</h3>
                    <div class="text-element adress">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.314" height="20.439" viewBox="0 0 14.314 20.439">
                            <path d="M23.27,12a2.713,2.713,0,1,0,2.713,2.713A2.717,2.717,0,0,0,23.27,12Zm0,4.651a1.938,1.938,0,
                        1,1,1.938-1.938A1.94,1.94,0,0,1,23.27,16.651Z" transform="translate(-16.047 -7.58)"/>
                            <path d="M20.423,2.1A7.158,7.158,0,0,0,10.3,2.1a8.153,8.153,0,0,0-.673,10.061l5.735,8.282,
                        5.726-8.271A8.156,8.156,0,0,0,20.423,2.1Zm.059,9.636-5.121,7.4-5.129-7.407a7.367,7.367,0,0,
                        1,.6-9.1,6.411,6.411,0,0,1,9.067,0A7.37,7.37,0,0,1,20.482,11.732Z" transform="translate(-8.203 0)"/>
                        </svg>
                        <p>443099, г.Самара, ул. Некрасовская, 63</p>
                    </div>
                    <div class="text-element number">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.219" height="19.213" viewBox="0 0 19.219 19.213">
                            <g transform="translate(0 0)">
                                <g transform="translate(0 0)">
                                    <path class="text-element__a" d="M15.443,19.217a8.259,8.259,0,0,1-2.826-.6,21.214,21.214,0,0,1-7.132-4.884A21.211,21.211,
                                0,0,1,.6,6.6C-.2,4.483-.2,2.746.595,1.951c.115-.115.232-.238.352-.364C1.673.824,2.512-.042,3.579,0A3.156,
                                3.156,0,0,1,5.8,1.426c2.195,2.731,1.205,3.7.06,4.832l-.2.2c-.187.187-.542,1.055,2.753,4.349a18.34,18.34,0,
                                0,0,2.725,2.34c.462.3,1.287.752,1.625.414l.2-.206c1.127-1.144,2.1-2.13,4.83.064a3.15,3.15,0,0,1,1.421,
                                2.219c.045,1.087-.821,1.909-1.585,2.634-.125.12-.248.235-.362.349A2.522,2.522,0,0,1,15.443,19.217ZM3.5.649c-.772,
                                0-1.47.734-2.087,1.383-.125.131-.246.258-.364.376C.459,3,.52,4.555,1.205,6.372a20.568,20.568,0,0,0,4.737,6.9,
                                20.567,20.567,0,0,0,6.9,4.736c1.817.686,3.373.745,3.965.153.118-.118.244-.238.374-.361.664-.631,1.417-1.346,
                                1.385-2.14a2.612,2.612,0,0,0-1.18-1.742c-2.275-1.828-2.91-1.181-3.965-.114l-.207.209c-.5.5-1.321.394-2.434-.33a18.949,
                                18.949,0,0,1-2.83-2.424h0C5.218,8.529,4.343,6.857,5.2,6l.206-.2C6.477,4.741,7.123,4.1,5.295,1.829A2.62,2.62,0,0,0,
                                3.553.65Z" transform="translate(0 -0.003)"/>
                                </g>
                                <g transform="translate(9.216 0.004)">
                                    <path class="text-element__a" d="M21.979,9.993a.346.346,0,0,1-.321-.476,2.91,2.91,0,0,0-3.9-3.745.346.346,0,0,1-.285-.63A3.6,3.6,0,
                                0,1,22.3,9.777.347.347,0,0,1,21.979,9.993Z" transform="translate(-15.9 -1.491)"/>
                                    <path class="text-element__a" d="M24.458,9.766a.346.346,0,0,1-.321-.476,6.245,6.245,0,0,0-8.36-8.039.347.347,0,0,1-.285-.632,6.938,
                                6.938,0,0,1,9.286,8.93A.346.346,0,0,1,24.458,9.766Z" transform="translate(-15.289 -0.009)"/>
                                </g>
                            </g>
                        </svg>
                        <p><a href="8 (846) 332-90-54">8 (846) 332-90-54</a></p>
                    </div>
                    <div class="text-element time">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.219" height="20.219" viewBox="0 0 20.219 20.219">
                            <g transform="translate(0 -0.001)">
                                <path d="M10.109,0A10.109,10.109,0,1,0,20.218,10.109,10.12,10.12,0,0,0,10.109,0Zm0,19.544a9.435,9.435,0,1,1,9.435-9.435A9.446,9.446,0,0,1,10.109,19.544Z"/>
                                <path d="M22.536,18.767V15.228a.349.349,0,0,0-.7,0v3.539a1.394,1.394,0,0,0-1,1H18.349a.349.349,0,1,0,0,.7h2.492a1.393,1.393,0,1,0,1.7-1.7Zm-.349,2.044a.7.7,
                            0,1,1,.7-.7A.7.7,0,0,1,22.187,20.811Z" transform="translate(-12.013 -9.948)"/>
                                <path d="M29.349,7.926a.349.349,0,0,0,.349-.349V7.228a.349.349,0,1,0-.7,0v.349A.349.349,0,0,0,29.349,7.926Z" transform="translate(-19.24 -4.479)"/>
                                <path d="M29.349,49.879a.349.349,0,0,0-.349.349v.349a.349.349,0,1,0,.7,0v-.349A.349.349,0,0,0,29.349,49.879Z" transform="translate(-19.24 -33.193)"/>
                                <path d="M50.7,28.879h-.349a.349.349,0,1,0,0,.7H50.7a.349.349,0,0,0,0-.7Z" transform="translate(-33.272 -19.16)"/>
                                <path d="M7.7,28.879H7.349a.349.349,0,1,0,0,.7H7.7a.349.349,0,1,0,0-.7Z" transform="translate(-4.557 -19.16)"/>
                                <path d="M44.2,13.424l-.247.247a.349.349,0,1,0,.493.493l.247-.247a.349.349,0,1,0-.493-.493Z" transform="translate(-29.098 -8.841)"/>
                                <path d="M13.793,43.83l-.247.247a.349.349,0,1,0,.493.493l.247-.247a.349.349,0,0,0-.493-.493Z" transform="translate(-8.921 -29.018)"/>
                                <path d="M44.444,43.83a.349.349,0,1,0-.493.493l.247.247a.349.349,0,1,0,.493-.493Z" transform="translate(-29.098 -29.018)"/>
                                <path d="M14.039,13.424a.349.349,0,0,0-.493.493l.247.247a.349.349,0,0,0,.493-.493Z" transform="translate(-8.921 -8.84)"/>
                            </g>
                        </svg>
                        <p>с 10:00 до 12:00</p>
                    </div>
                    <div class="text-element mail">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.217" height="14.229" viewBox="0 0 20.217 14.229">
                            <g transform="translate(0 0)">
                                <path class="text-element__a" d="M18.587,18.711H1.63A1.624,1.624,0,0,1,0,17.1V6.1A1.624,1.624,0,0,1,1.63,4.482H18.587A1.624,1.624,0,0,1,20.217,6.1v11A1.624,1.624,0,0,1,18.587,
                            18.711ZM1.63,5.127A.974.974,0,0,0,.652,6.1v11a.974.974,0,0,0,.978.968H18.587a.974.974,0,0,0,.978-.968V6.1a.974.974,0,0,0-.978-.968Z" transform="translate(0 -4.482)"/>
                                <path class="text-element__a" d="M10.249,14.03a1.738,1.738,0,0,1-1.183-.454L.83,5.943A.357.357,0,0,1,.8,5.46a.309.309,0,0,1,.455-.034L9.49,13.059a1.152,1.152,0,0,0,1.52,
                            0l8.233-7.633a.307.307,0,0,1,.455.034.357.357,0,0,1-.031.483l-8.234,7.632A1.736,1.736,0,0,1,10.249,14.03Z" transform="translate(-0.141 -4.65)"/>
                            </g>
                        </svg>
                        <p><a href="samgku@socio.samregion.ru">samgku@socio.samregion.ru</a></p>
                    </div>
                    <div class="text-element mail">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.219" height="16.473" viewBox="0 0 20.219 16.473">
                            <g transform="translate(0.001 0)">
                                <path class="text-element__a" d="M20.1,49.2a.451.451,0,0,0-.412-.1l-.686.24a4.7,4.7,0,0,0,.858-1.476.354.354,0,0,0-.069-.412.365.365,0,0,0-.412-.069,25.136,25.136,0,0,
                            1-2.471.961c0,.034-.034,0-.069,0a7.145,7.145,0,0,0-2.848-1,4.536,4.536,0,0,0-4.392,4.6v.137a12.507,12.507,0,0,1-7.652-3.946l-.343-.343-.206.412a4.643,
                            4.643,0,0,0,1,5.628,2.8,2.8,0,0,1-1.407-.618.411.411,0,0,0-.48-.034.422.422,0,0,0-.172.446,6.734,6.734,0,0,0,2.985,3.706,2.752,2.752,0,0,1-1.647-.412.484.484,
                            0,0,0-.48.034.375.375,0,0,0-.137.446A4.137,4.137,0,0,0,4.8,60.32a8.42,8.42,0,0,1-4.324,1.1.489.489,0,0,0-.446.309.477.477,0,0,0,.137.515c1.235,1,3.981,1.579,
                            7.378,1.579,6.04,0,10.981-5.388,10.981-12.01v-.1a3.4,3.4,0,0,0,1.681-2.093A.451.451,0,0,0,20.1,49.2Zm-2.059,1.956-.206.069v.583c0,6.245-4.633,11.324-10.295,
                            11.324A15.291,15.291,0,0,1,1.195,62.07,8.259,8.259,0,0,0,6,60.32l.858-.618H5.827c-1.956,0-3.157-.549-3.843-1.853a5.4,5.4,0,0,0,1.99.172,6.61,6.61,0,0,1,
                            .824-.034l.1-.686a6.2,6.2,0,0,1-3.6-3.123,5.173,5.173,0,0,0,2.128.377H4.489l-.858-.618C2.91,53.423.783,51.6,1.812,49c2.2,2.162,4.289,3.157,8.064,
                            3.843l.412.069v-.961a3.848,3.848,0,0,1,3.706-3.912,6.309,6.309,0,0,1,2.471.892.787.787,0,0,0,.618.069c.515-.172,1.132-.412,1.819-.686a5.485,5.485,0,0,1-1.27,
                            1.441.413.413,0,0,0-.1.48.34.34,0,0,0,.446.172l1.338-.446A2.425,2.425,0,0,1,18.043,51.158Z" transform="translate(-0.001 -47.348)"/>
                            </g>
                        </svg>
                        <p><a href="https://twitter.com/samgku">https://twitter.com/samgku</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 53.187944, lng: 50.099238},
            zoom: 16,
            styles: [
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#6195a0"
                        }
                    ]
                },
                {
                    "featureType": "administrative.province",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "lightness": "0"
                        },
                        {
                            "saturation": "0"
                        },
                        {
                            "color": "#f5f5f2"
                        },
                        {
                            "gamma": "1"
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "all",
                    "stylers": [
                        {
                            "lightness": "-3"
                        },
                        {
                            "gamma": "1.00"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural.terrain",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#bae5ce"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        },
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#fac9a9"
                        },
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "color": "#4e4e4e"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#787878"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "transit.station.airport",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "hue": "#0a00ff"
                        },
                        {
                            "saturation": "-77"
                        },
                        {
                            "gamma": "0.57"
                        },
                        {
                            "lightness": "0"
                        }
                    ]
                },
                {
                    "featureType": "transit.station.rail",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#43321e"
                        }
                    ]
                },
                {
                    "featureType": "transit.station.rail",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "hue": "#ff6c00"
                        },
                        {
                            "lightness": "4"
                        },
                        {
                            "gamma": "0.75"
                        },
                        {
                            "saturation": "-68"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#eaf6f8"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#c7eced"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "lightness": "-49"
                        },
                        {
                            "saturation": "-53"
                        },
                        {
                            "gamma": "0.79"
                        }
                    ]
                }
            ]
        });

        var imageBig = 'assets/images/big-map.svg';
        var imageSmall = 'assets/images/smallimap.svg';

        $('.maps-link').each(function () {
            var ths = $(this),
                lat1 = Number(ths.attr('data-lat')),
                lng1 = Number(ths.attr('data-lng')),
                size = ths.attr('data-size');

            if (size === 'small') {
                var marker = new google.maps.Marker({
                    position: {lat: lat1, lng: lng1},
                    map: map,
                    icon: imageSmall
                });
            } else if (size === 'big') {
                var marker = new google.maps.Marker({
                    position: {lat: lat1, lng: lng1},
                    map: map,
                    icon: imageBig
                });
            }
        });

        $('.maps-link').on('click', function(){
            var ths = $(this),
                lat1 = Number(ths.attr('data-lat')),
                lng1 = Number(ths.attr('data-lng'));

            map.setCenter({lat:lat1, lng:lng1});

            $('body,html').animate({scrollTop:0},300);
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2yz-leuPleq-QzOMVgeIYV-RyfnReBEA&callback=initMap"
        async defer></script>