<footer>

    <div class="pop-up" id="thanks" style="display: none">
        <div class="close__modal"></div>
        <div class="modal-container">
            <form>
                <h2>Спасибо</h2>
                <p>В ближайшее время мы с Вами свяжемся</p>
            </form>
        </div>
    </div>

    <div class="pop-up" id="call" style="display: none">
        <div class="close__modal"></div>
        <div class="modal-container">
            <form>
                <h2>Связаться с нами</h2>
                <label class="error" for="fio">ФИО:</label>
                <input class="error" type="text" name="fio">
                <label for="tel">Номер телефона:</label>
                <input type="tel" name="tel">
                <label for="txt">Текст обращения:</label>
                <textarea name="txt"></textarea>
                <div class="confid param-checkbox">
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <p>Я согласен с <a href="politic.html" target="_blank">политикой конфиденциальности</a></p>
                </div>

                <div class="captcha">
                    <div class="param-checkbox">
                        <input class="checkbox" type="checkbox" name="checkbox-test">
                        <span class="checkbox-custom"></span>
                    </div>
                    <label>
                        Я не робот
                    </label>
                </div>
            </form>
        </div>
    </div>

    <div class="pop-up vacancies" id="vacancies" style="display: none">
        <div class="close__modal"></div>
        <div class="modal-container">
            <form>
                <h2>Отклик на вакансию:<br><span>менеджер отдела</span></h2>
                <div class="modal-flex">
                    <div class="left">
                        <label class="error" for="fio">ФИО:</label>
                        <input class="error" type="text" name="fio">
                        <label for="tel">Номер телефона:</label>
                        <input type="tel" name="tel">
                        <label for="email">E-mail:</label>
                        <input type="text" name="email">
                    </div>
                    <div class="textar">
                        <label for="txt">Комментарий:</label>
                        <textarea name="txt"></textarea>
                    </div>
                </div>


                <div class="modal-form__file">
                    <label class="upload-photo__none">
                        <input class="file_upload" type="file" multiple accept=".doc,.docx,.pdf">
                        <span>Прикрепить резюме<br>
                            <span class="label__bottom">.doc .pdf .docx</span>
                        </span>
                        <img src="assets/images/vacan.svg">
                    </label>
                    <div class="upload-photo" style="display: none">
                        <label>
                            <span id="filename" class="filename"></span>
                            <img src="assets/images/vacan.svg">
                        </label>
                    </div>
                </div>

                <div class="confid param-checkbox">
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <p>Я согласен с <a href="politic.html" target="_blank">политикой конфиденциальности</a></p>
                </div>

                <div class="captcha">
                    <div class="param-checkbox">
                        <input class="checkbox" type="checkbox" name="checkbox-test">
                        <span class="checkbox-custom"></span>
                    </div>
                    <label>
                        Я не робот
                    </label>
                </div>
            </form>
        </div>
    </div>

    <svg  class="to-top" style="display: none" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
        <g transform="translate(-1468 -700)">
            <rect class="navigation__a" width="50" height="50" transform="translate(1468 700)"/>
            <g transform="translate(1489 716.764)">
                <path class="navigation__b" d="M1.154,8.424,8.763.815A.477.477,0,1,0,8.089.14L.14,8.089a.475.475,0,0,0,0,.674l7.949,7.945a.48.48,0,0,0,.335.141.465.465,0,0,0,
                            .335-.141.475.475,0,0,0,0-.674Z" transform="translate(0 0)"/>
            </g>
        </g>
    </svg>

    <div class="container footer_full">
        <div class="footer__left">
            <a href="index.html" class="footer__logo">
                <img src="assets/images/gerb_samarskoj_oblasti.png">
                <p>Государственное казенное учреждение Самарской области "Главное управление социальной защиты населения Самарского округа"</p>
            </a>

            <div class="coopr">
                <p>© 2019 ООО БГО "Центр социальной защиты населения"</p>
            </div>
        </div>
        <div class="footer__menu">
            <div class="footer__menu__top">
                <form>
                    <input type="text" name="search" placeholder="Поиск по документам">
                    <button class="btn-search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25.672" height="25.676" viewBox="0 0 25.672 25.676">
                            <g transform="translate(-1738 -47.17)">
                                <g transform="translate(1738 47.17)">
                                    <g transform="translate(0)">
                                        <path class="search__a" d="M18.557,3.184A10.871,10.871,0,0,0,3.184,18.559,10.871,10.871,0,0,0,18.557,
                                3.184ZM10.87,19.668a8.8,8.8,0,1,1,8.8-8.8A8.807,8.807,0,0,1,10.87,19.668Z" transform="translate(0)"/>
                                    </g>
                                    <g transform="translate(16.782 16.784)">
                                        <path class="search__a" d="M343.263,341.8l-6.818-6.818a1.037,1.037,0,1,0-1.467,1.467l6.818,6.818a1.037,
                                1.037,0,1,0,1.467-1.467Z" transform="translate(-334.675 -334.674)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </form>

                <a href="8(000)000-00-00">8 (000) 000-00-00</a>
            </div>

            <div class="footer__menu__center">
                <ul>
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                    <li><a href="gos-description.html">Государственные услуги</a></li>
                    <li><a href="map-site.html">Карта сайта</a></li>
                    <li><a href="anticoruprion.html">Антикоррупция</a></li>
                    <li><a href="politic.html">Политика конфиденциальности</a></li>
                    <li><a href="documents.html">Документы</a></li>
                    <li><a href="#">Версия сайта для слабовидящих</a></li>
                </ul>

                <div class="footer__menu__center__right">
                    <p>ул. Некрасовская, д.63<br> 443099, г. Самара</p>

                    <div class="social">
                        <a href="#" target="_blank">
                            <svg class="tw" xmlns="http://www.w3.org/2000/svg" width="25.762" height="20.932" viewBox="0 0 25.762 20.932">
                                <path class="social__a1" d="M25.762,50.478a11.012,11.012,0,0,1-3.043.834,5.252,5.252,0,0,0,2.323-2.919,10.555,10.555,0,0,
                                1-3.349,1.278,5.281,5.281,0,0,0-9.136,3.612,5.438,5.438,0,0,0,.122,1.2A14.949,14.949,0,0,1,1.794,48.963a5.283,
                                5.283,0,0,0,1.623,7.059,5.216,5.216,0,0,1-2.386-.65v.058a5.306,5.306,0,0,0,4.231,5.189,5.271,5.271,0,0,1-1.385.174,
                                4.67,4.67,0,0,1-1-.09,5.332,5.332,0,0,0,4.935,3.679,10.612,10.612,0,0,1-6.548,2.253A9.892,9.892,0,0,1,0,66.562a14.869,
                                14.869,0,0,0,8.1,2.37A14.929,14.929,0,0,0,23.135,53.9c0-.233-.008-.459-.019-.683A10.536,10.536,0,0,0,25.762,50.478Z" transform="translate(0 -48.001)"/>
                            </svg>
                        </a>

                        <a href="#" target="_blank">
                            <svg class="vk" xmlns="http://www.w3.org/2000/svg" width="27.188" height="15.387" viewBox="0 0 27.188 15.387">
                                <path class="social__a2" d="M23.4,75.841a37.006,37.006,0,0,1,2.663,2.678,7.781,7.781,0,0,1,.954,1.375c.367.711.035,1.493-.6,1.535l-3.961,0A3.058,3.058,0,0,1,19.931,
                                80.4c-.548-.559-1.056-1.153-1.584-1.73a3.751,3.751,0,0,0-.713-.634.828.828,0,0,0-1.319.32,4.161,4.161,0,0,0-.417,1.848c-.042.933-.324,1.178-1.261,1.221A10.129,
                                10.129,0,0,1,8.97,80.209a12.522,12.522,0,0,1-3.814-3.571A48.069,48.069,0,0,1,.137,67.692c-.317-.705-.085-1.084.693-1.1,1.292-.025,2.584-.023,3.878,0a1.139,1.139,
                                0,0,1,1.076.805,24.037,24.037,0,0,0,2.628,4.87A4.154,4.154,0,0,0,9.4,73.36a.6.6,0,0,0,1.025-.3,3.379,3.379,0,0,0,.228-1.021,15.211,15.211,0,0,0-.064-3.58,1.492,
                                1.492,0,0,0-1.271-1.365c-.379-.072-.322-.213-.139-.429a1.424,1.424,0,0,1,1.215-.6h4.476c.7.139.861.456.958,1.165l0,4.972c-.008.275.137,1.089.632,
                                1.271.4.129.657-.187.894-.438a15.418,15.418,0,0,0,2.52-3.874c.3-.612.564-1.248.817-1.883a.958.958,0,0,1,1.012-.693l4.308,0a2.274,2.274,0,0,
                                1,.381.023c.726.124.925.436.7,1.145a10.757,10.757,0,0,1-1.713,2.97c-.718.994-1.487,1.954-2.2,2.954-.655.913-.6,1.373.211,2.167Zm0,0" transform="translate(0.001 -66.058)"/>
                            </svg>
                        </a>

                        <a href="#" target="_blank">
                            <svg class="lj" xmlns="http://www.w3.org/2000/svg" width="25.762" height="25.791" viewBox="0 0 25.762 25.791">
                                <g transform="translate(0.001)">
                                    <path class="social__a1" d="M13.7,1.657a12.045,12.045,0,0,0-4.79.99L6.257,0H6.25A12.107,12.107,0,0,0,0,6.287L2.655,8.939l0,0A11.916,11.916,0,0,0,1.63,13.724,12.066,12.066,
                                    0,1,0,13.7,1.657"/>
                                    <path class="social__b1" d="M12.886,19.155a12.112,12.112,0,0,1,6.25-6.288h0l-9.811-9.8h0A12.1,12.1,0,0,0,3.072,9.358Z" transform="translate(-0.419 -0.419)"/>
                                    <path class="social__b1" d="M21.915,18.29a7.044,7.044,0,0,0-3.631,3.652l4.582.947Z" transform="translate(-2.495 -2.495)"/>
                                    <path class="social__a1" d="M21.39,17.763c-.369-1.759-.7-3.347-.7-3.347h0a12.115,12.115,0,0,0-6.25,6.287l3.323.71a7.075,7.075,0,0,1,3.631-3.65" transform="translate(-1.97 -1.967)"/>
                                </g>
                            </svg>
                        </a>
                        <a href="#" target="_blank">
                            <svg class="ok" xmlns="http://www.w3.org/2000/svg" width="13.83" height="23.877" viewBox="0 0 13.83 23.877">
                                <path class="social__a1" d="M15.544-93.889A2.554,2.554,0,0,1,18.1-91.337a2.554,2.554,0,0,1-2.551,2.55,2.555,2.555,0,0,1-2.551-2.55A2.555,2.555,0,0,1,15.544-93.889Zm0,
                                8.712a6.167,6.167,0,0,0,6.162-6.16A6.168,6.168,0,0,0,15.544-97.5a6.169,6.169,0,0,0-6.162,6.163A6.168,6.168,0,0,0,15.544-85.177Zm2.493,5.027a11.541,11.541,0,0,0,
                                3.578-1.482,1.806,1.806,0,0,0,.566-2.489,1.8,1.8,0,0,0-2.489-.568,7.823,7.823,0,0,1-8.3,0,1.8,1.8,0,0,0-2.489.568,1.805,1.805,0,0,0,.565,2.489A11.558,11.558,0,0,
                                0,13.05-80.15L9.6-76.7a1.806,1.806,0,0,0,0,2.553,1.8,1.8,0,0,0,1.276.529,1.8,1.8,0,0,0,1.278-.529l3.384-3.385,3.387,3.385a1.8,1.8,0,0,0,2.552,0,1.8,1.8,
                                0,0,0,0-2.553Z" transform="translate(-8.628 97.499)"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer__menu__bottom">
                <div class="footer__menu__bottom__left">
                    <a href="#" target="_blank" class="footer__menu__bottom__left__logo">
                        <img src="assets/images/gerb_samarskoj_oblasti.png">
                        <p>МИНИСТЕРСТВО <br>СОЦИАЛЬНО-ДЕМОГРАФИЧЕСКОЙ И СЕМЕЙНОЙ ПОЛИТИКИ САМАРСКОЙ ОБЛАСТИ</p>
                    </a>

                    <a href="#" target="_blank" class="footer__menu__bottom__left__logo">
                        <img src="assets/images/scport.png">
                        <p>СОЦИАЛЬНЫЙ<br> ПОРТАЛ</p>
                    </a>
                </div>

                <div class="footer__menu__bottom__right">
                    <a href="http://taurus.team/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="110.717" height="35" viewBox="0 0 110.717 35">
                            <g transform="translate(-871.5 -512.016)">
                                <path d="M3.736,26.3H9.4v1.93H5.666V37.7H3.736v-9.4H0v-1.93H3.736ZM20.3,37.7l5.168-11.4,5.168,11.4H20.3Zm3.051-1.93h4.234l-2.117-4.67-2.117,4.67ZM41.471,
                                26.3h9.4v6.663a4.732,4.732,0,0,1-9.465,0V26.3Zm1.93,1.993v4.421a2.74,2.74,0,0,0,5.48,0V28.293Zm27.71,9.4L68,32.776a3.085,3.085,0,0,0,
                                2.491-3.113c0-3.3-3.8-3.3-3.8-3.3H61.708l1.183,1.93L64.7,31.157H62.891V37.82h1.93V32.963h1.121L68.931,37.7ZM65.2,28.23h1.557s1.93,0,1.93,1.432c0,
                                1.121-1.183,1.37-1.681,1.432L65.2,28.23Zm16.75-1.93h9.4v6.663a4.732,4.732,0,0,1-9.465,0V26.3Zm1.993,1.993v4.421a2.74,2.74,0,1,0,5.48,0V28.293Zm20.113,
                                9.029a5.9,5.9,0,0,1-1.681-1.059l-.125-.125,1.121-1.494.187.187a3.6,3.6,0,0,0,1.245.809,3.346,3.346,0,0,0,1.308.311,1.976,1.976,0,0,0,1.245-.374,1.324,
                                1.324,0,0,0,.436-.934c0-.934-1-1.37-2.117-1.868-1.432-.623-2.989-1.308-2.989-3.238a2.9,2.9,0,0,1,1.059-2.3,4.135,4.135,0,0,1,2.615-.872,5.719,5.719,0,
                                0,1,1.744.311,3.807,3.807,0,0,1,1.37.809l.125.125-.872,1.619-.187-.187a2.979,2.979,0,0,0-1.059-.623,4.02,4.02,0,0,0-1.183-.249,1.976,1.976,0,0,0-1.245.374,
                                1.12,1.12,0,0,0-.436.934c0,.872,1,1.308,2.055,1.744,1.432.623,3.051,1.308,3.051,3.3a3.292,3.292,0,0,1-1,2.366,3.726,3.726,0,0,1-2.553.872A7.082,7.082,0,0,1,
                                104.051,37.322Z" transform="translate(872 498.681)" fill="#fff" stroke="#fff" stroke-width="1" fill-rule="evenodd"/>
                                <path d="M4.043-8.716v1.2a1.412,1.412,0,0,0-1-.379,1.145,1.145,0,0,0-.9.354,1.241,1.241,0,0,0-.319.862,1.18,1.18,0,0,0,.354.877,1.231,1.231,0,0,0,.9.349,
                                1.385,1.385,0,0,0,.956-.379v1.186a2.466,2.466,0,0,1-1.116.269A2.313,2.313,0,0,1,1.263-5.01,2.172,2.172,0,0,1,.576-6.664a2.22,2.22,0,0,1,.747-1.753,2.254,
                                2.254,0,0,1,1.554-.558A2.652,2.652,0,0,1,4.043-8.716ZM4.96-4.522V-8.836H6.175v.648a1.4,1.4,0,0,1,.538-.6,1.313,1.313,0,0,1,.717-.189,1.548,1.548,0,0,1,
                                .518.1L7.789-7.74A.97.97,0,0,0,7.221-7.9a.973.973,0,0,0-.807.349,1.532,1.532,0,0,0-.239.956v2.072Zm6.705-1.385,1.116.179a1.9,1.9,0,0,1-.184.354,3.358,
                                3.358,0,0,1-.354.428,1.7,1.7,0,0,1-.648.408,2.637,2.637,0,0,1-.937.154A2.3,2.3,0,0,1,9-4.99a2.2,2.2,0,0,1-.677-1.684,2.292,2.292,0,0,1,.658-1.694,2.216,
                                2.216,0,0,1,1.624-.608,2.066,2.066,0,0,1,1.684.707,2.555,2.555,0,0,1,.518,1.694v.1H9.583a1.208,1.208,0,0,0,.209.727,1.008,1.008,0,0,0,.867.408A1.086,
                                1.086,0,0,0,11.665-5.907ZM9.622-7.252h2.042a.972.972,0,0,0-.364-.643,1.065,1.065,0,0,0-.663-.224,1.036,1.036,0,0,0-.653.229A.985.985,0,0,0,
                                9.622-7.252Zm7.432-1.026v-.558H18.27v4.314H17.055V-5.08a1.536,1.536,0,0,1-1.325.7,2.058,2.058,0,0,1-1.589-.668,2.328,2.328,0,0,1-.613-1.634,
                                2.338,2.338,0,0,1,.6-1.634,1.991,1.991,0,0,1,1.544-.658A1.53,1.53,0,0,1,17.055-8.278Zm-.219.727a1.144,1.144,0,0,0-.857-.349,1.144,1.144,0,0,
                                0-.857.349,1.2,1.2,0,0,0-.339.867,1.212,1.212,0,0,0,.339.872,1.136,1.136,0,0,0,.857.354,1.136,1.136,0,0,0,.857-.354,1.212,1.212,0,0,0,.339-.872A1.2,1.2,0,0,0,
                                16.836-7.55ZM21.478-7.8h-.837v3.278H19.426V-7.8h-.478V-8.836h.478V-10.31h1.215v1.475h.837Zm3.756,1.893,1.116.179a1.9,1.9,0,0,1-.184.354,3.358,3.358,0,0,
                                1-.354.428,1.7,1.7,0,0,1-.648.408,2.637,2.637,0,0,1-.937.154,2.3,2.3,0,0,1-1.654-.608A2.2,2.2,0,0,1,21.9-6.674a2.292,2.292,0,0,1,.658-1.694,2.216,2.216,0,
                                0,1,1.624-.608,2.066,2.066,0,0,1,1.684.707,2.555,2.555,0,0,1,.518,1.694v.1H23.152a1.208,1.208,0,0,0,.209.727,1.008,1.008,0,0,0,.867.408A1.086,1.086,0,0,0,
                                25.234-5.907ZM23.192-7.252h2.042a.972.972,0,0,0-.364-.643,1.065,1.065,0,0,0-.663-.224,1.036,1.036,0,0,0-.653.229A.985.985,0,0,0,
                                23.192-7.252Zm7.432-1.026v-3.706H31.84v7.462H30.624V-5.08a1.536,1.536,0,0,1-1.325.7A2.058,2.058,0,0,1,27.71-5.05,2.328,2.328,0,0,1,27.1-6.684a2.338,2.338,0,0,1,
                                .6-1.634,1.991,1.991,0,0,1,1.544-.658A1.53,1.53,0,0,1,30.624-8.278Zm-.219.727a1.144,1.144,0,0,0-.857-.349,1.144,1.144,0,0,0-.857.349,1.2,1.2,0,0,0-.339.867,1.212,
                                1.212,0,0,0,.339.872,1.136,1.136,0,0,0,.857.354,1.136,1.136,0,0,0,.857-.354,1.212,1.212,0,0,0,.339-.872A1.2,1.2,0,0,0,30.405-7.55Zm6.127-4.434v3.706a1.626,1.626,
                                0,0,1,1.4-.7,1.975,1.975,0,0,1,1.534.648,2.352,2.352,0,0,1,.588,1.644,2.336,2.336,0,0,1-.6,1.649,2.014,2.014,0,0,1-1.549.653,1.613,1.613,0,0,
                                1-1.375-.7v.558H35.317v-7.462ZM38.465-7.55a1.144,1.144,0,0,0-.857-.349,1.144,1.144,0,0,0-.857.349,1.2,1.2,0,0,0-.339.867,1.212,1.212,0,0,0,.339.872,1.136,1.136,0,
                                0,0,.857.354,1.136,1.136,0,0,0,.857-.354,1.212,1.212,0,0,0,.339-.872A1.2,1.2,0,0,0,38.465-7.55Zm2.441,5.34L42.49-5.169,40.438-8.836h1.415l1.335,
                                2.451,1.2-2.451h1.375L42.281-2.21Z" transform="translate(871.783 524)" fill="#fff"/>
                                <path d="M.992-3.6a.751.751,0,0,1-.224-.553.751.751,0,0,1,.224-.553.751.751,0,0,1,.553-.224.751.751,0,0,1,.553.224.751.751,0,0,1,.224.553A.751.751,0,0,1,
                                2.1-3.6a.751.751,0,0,1-.553.224A.751.751,0,0,1,.992-3.6ZM5.431-6.785H4.594v3.278H3.378V-6.785H2.9V-7.821h.478V-9.3H4.594v1.475h.837ZM9.187-4.892l1.116.179a1.9,1.9,0,0,
                                1-.184.354,3.358,3.358,0,0,1-.354.428,1.7,1.7,0,0,1-.648.408,2.637,2.637,0,0,1-.937.154,2.3,2.3,0,0,1-1.654-.608A2.2,2.2,0,0,1,5.849-5.66a2.292,2.292,0,0,1,.658-1.694,
                                2.216,2.216,0,0,1,1.624-.608,2.066,2.066,0,0,1,1.684.707,2.555,2.555,0,0,1,.518,1.694v.1H7.1a1.208,1.208,0,0,0,.209.727,1.008,1.008,0,0,0,.867.408A1.086,1.086,0,0,0,
                                9.187-4.892ZM7.144-6.237H9.187a.972.972,0,0,0-.364-.643A1.065,1.065,0,0,0,8.161-7.1a1.036,1.036,0,0,0-.653.229A.985.985,0,0,0,
                                7.144-6.237Zm7.432-1.026v-.558h1.215v4.314H14.577v-.558a1.536,1.536,0,0,1-1.325.7,2.058,2.058,0,0,1-1.589-.668,2.328,2.328,0,0,1-.613-1.634,2.338,2.338,0,0,1,
                                .6-1.634,1.991,1.991,0,0,1,1.544-.658A1.53,1.53,0,0,1,14.577-7.264Zm-.219.727a1.144,1.144,0,0,0-.857-.349,1.144,1.144,0,0,0-.857.349,1.2,1.2,0,0,0-.339.867,
                                1.212,1.212,0,0,0,.339.872,1.136,1.136,0,0,0,.857.354,1.136,1.136,0,0,0,.857-.354,1.212,1.212,0,0,0,.339-.872A1.2,1.2,0,0,0,14.358-6.536Zm2.59,
                                3.029V-7.821h1.215v.488a1.567,1.567,0,0,1,1.285-.628,1.405,1.405,0,0,1,1.365.787A1.542,1.542,0,0,1,22.2-7.961a1.387,1.387,0,0,1,1.166.528,1.275,1.275,0,0,1,
                                .244.518,3.61,3.61,0,0,1,.055.7v2.71H22.447V-5.859a1.352,1.352,0,0,0-.2-.847.608.608,0,0,0-.5-.219.707.707,0,0,0-.668.379,1.643,1.643,0,0,0-.169.837v2.2H19.7V-5.859a1.352,
                                1.352,0,0,0-.2-.847.608.608,0,0,0-.5-.219.707.707,0,0,0-.668.379,1.643,1.643,0,0,0-.169.837v2.2Z" transform="translate(957.641 550.384)" fill="#fff"/>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_ipad container">
        <div class="footer-top">
            <div class="footer-top-left">
                <a href="index.html" class="footer__logo">
                    <img src="assets/images/gerb_samarskoj_oblasti.png">
                    <p>Государственное казенное учреждение Самарской области "Главное управление социальной защиты населения Самарского округа"</p>
                </a>
            </div>

            <div class="footer-top-center">
                <ul>
                    <li><a href="gos-description.html">Государственные услуги</a></li>
                    <li><a href="documents.html">Документы</a></li>
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                    <li><a href="anticoruprion.html">Антикоррупция</a></li>
                    <li><a href="politic.html">Политика конфиденциальности</a></li>
                    <li><a href="map-site.html">Карта сайта</a></li>
                </ul>
            </div>

            <div class="footer-top-right">
                <a href="8(000)000-00-00" class="footer-top-right__call">8 (000) 000-00-00</a>

                <p>443099, г. Самара, <br>ул. Некрасовская, д.63 </p>

                <div class="social">
                    <a href="#" target="_blank">
                        <svg class="tw" xmlns="http://www.w3.org/2000/svg" width="25.762" height="20.932" viewBox="0 0 25.762 20.932">
                            <path class="social__a1" d="M25.762,50.478a11.012,11.012,0,0,1-3.043.834,5.252,5.252,0,0,0,2.323-2.919,10.555,10.555,0,0,
                                1-3.349,1.278,5.281,5.281,0,0,0-9.136,3.612,5.438,5.438,0,0,0,.122,1.2A14.949,14.949,0,0,1,1.794,48.963a5.283,
                                5.283,0,0,0,1.623,7.059,5.216,5.216,0,0,1-2.386-.65v.058a5.306,5.306,0,0,0,4.231,5.189,5.271,5.271,0,0,1-1.385.174,
                                4.67,4.67,0,0,1-1-.09,5.332,5.332,0,0,0,4.935,3.679,10.612,10.612,0,0,1-6.548,2.253A9.892,9.892,0,0,1,0,66.562a14.869,
                                14.869,0,0,0,8.1,2.37A14.929,14.929,0,0,0,23.135,53.9c0-.233-.008-.459-.019-.683A10.536,10.536,0,0,0,25.762,50.478Z" transform="translate(0 -48.001)"/>
                        </svg>
                    </a>

                    <a href="#" target="_blank">
                        <svg class="vk" xmlns="http://www.w3.org/2000/svg" width="27.188" height="15.387" viewBox="0 0 27.188 15.387">
                            <path class="social__a2" d="M23.4,75.841a37.006,37.006,0,0,1,2.663,2.678,7.781,7.781,0,0,1,.954,1.375c.367.711.035,1.493-.6,1.535l-3.961,0A3.058,3.058,0,0,1,19.931,
                                80.4c-.548-.559-1.056-1.153-1.584-1.73a3.751,3.751,0,0,0-.713-.634.828.828,0,0,0-1.319.32,4.161,4.161,0,0,0-.417,1.848c-.042.933-.324,1.178-1.261,1.221A10.129,
                                10.129,0,0,1,8.97,80.209a12.522,12.522,0,0,1-3.814-3.571A48.069,48.069,0,0,1,.137,67.692c-.317-.705-.085-1.084.693-1.1,1.292-.025,2.584-.023,3.878,0a1.139,1.139,
                                0,0,1,1.076.805,24.037,24.037,0,0,0,2.628,4.87A4.154,4.154,0,0,0,9.4,73.36a.6.6,0,0,0,1.025-.3,3.379,3.379,0,0,0,.228-1.021,15.211,15.211,0,0,0-.064-3.58,1.492,
                                1.492,0,0,0-1.271-1.365c-.379-.072-.322-.213-.139-.429a1.424,1.424,0,0,1,1.215-.6h4.476c.7.139.861.456.958,1.165l0,4.972c-.008.275.137,1.089.632,
                                1.271.4.129.657-.187.894-.438a15.418,15.418,0,0,0,2.52-3.874c.3-.612.564-1.248.817-1.883a.958.958,0,0,1,1.012-.693l4.308,0a2.274,2.274,0,0,
                                1,.381.023c.726.124.925.436.7,1.145a10.757,10.757,0,0,1-1.713,2.97c-.718.994-1.487,1.954-2.2,2.954-.655.913-.6,1.373.211,2.167Zm0,0" transform="translate(0.001 -66.058)"/>
                        </svg>
                    </a>

                    <a href="#" target="_blank">
                        <svg class="lj" xmlns="http://www.w3.org/2000/svg" width="25.762" height="25.791" viewBox="0 0 25.762 25.791">
                            <g transform="translate(0.001)">
                                <path class="social__a1" d="M13.7,1.657a12.045,12.045,0,0,0-4.79.99L6.257,0H6.25A12.107,12.107,0,0,0,0,6.287L2.655,8.939l0,0A11.916,11.916,0,0,0,1.63,13.724,12.066,12.066,
                                    0,1,0,13.7,1.657"/>
                                <path class="social__b1" d="M12.886,19.155a12.112,12.112,0,0,1,6.25-6.288h0l-9.811-9.8h0A12.1,12.1,0,0,0,3.072,9.358Z" transform="translate(-0.419 -0.419)"/>
                                <path class="social__b1" d="M21.915,18.29a7.044,7.044,0,0,0-3.631,3.652l4.582.947Z" transform="translate(-2.495 -2.495)"/>
                                <path class="social__a1" d="M21.39,17.763c-.369-1.759-.7-3.347-.7-3.347h0a12.115,12.115,0,0,0-6.25,6.287l3.323.71a7.075,7.075,0,0,1,3.631-3.65" transform="translate(-1.97 -1.967)"/>
                            </g>
                        </svg>
                    </a>
                    <a href="#" target="_blank">
                        <svg class="ok" xmlns="http://www.w3.org/2000/svg" width="13.83" height="23.877" viewBox="0 0 13.83 23.877">
                            <path class="social__a1" d="M15.544-93.889A2.554,2.554,0,0,1,18.1-91.337a2.554,2.554,0,0,1-2.551,2.55,2.555,2.555,0,0,1-2.551-2.55A2.555,2.555,0,0,1,15.544-93.889Zm0,
                                8.712a6.167,6.167,0,0,0,6.162-6.16A6.168,6.168,0,0,0,15.544-97.5a6.169,6.169,0,0,0-6.162,6.163A6.168,6.168,0,0,0,15.544-85.177Zm2.493,5.027a11.541,11.541,0,0,0,
                                3.578-1.482,1.806,1.806,0,0,0,.566-2.489,1.8,1.8,0,0,0-2.489-.568,7.823,7.823,0,0,1-8.3,0,1.8,1.8,0,0,0-2.489.568,1.805,1.805,0,0,0,.565,2.489A11.558,11.558,0,0,
                                0,13.05-80.15L9.6-76.7a1.806,1.806,0,0,0,0,2.553,1.8,1.8,0,0,0,1.276.529,1.8,1.8,0,0,0,1.278-.529l3.384-3.385,3.387,3.385a1.8,1.8,0,0,0,2.552,0,1.8,1.8,
                                0,0,0,0-2.553Z" transform="translate(-8.628 97.499)"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-mid">
            <div class="footer-top-left">
                <a href="#" target="_blank" class="footer__menu__bottom__left__logo">
                    <img src="assets/images/gerb_samarskoj_oblasti.png">
                    <p>МИНИСТЕРСТВО <br>СОЦИАЛЬНО-ДЕМОГРАФИЧЕСКОЙ И СЕМЕЙНОЙ ПОЛИТИКИ САМАРСКОЙ ОБЛАСТИ</p>
                </a>
            </div>
            <div class="footer-top-center">
                <a href="#" target="_blank" class="footer__menu__bottom__left__logo">
                    <img src="assets/images/scport.png">
                    <p>СОЦИАЛЬНЫЙ<br> ПОРТАЛ</p>
                </a>
            </div>
            <div class="footer-top-right">
                <form>
                    <input type="text" name="search" placeholder="Поиск по документам">
                    <button class="btn-search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25.672" height="25.676" viewBox="0 0 25.672 25.676">
                            <g transform="translate(-1738 -47.17)">
                                <g transform="translate(1738 47.17)">
                                    <g transform="translate(0)">
                                        <path class="search__a" d="M18.557,3.184A10.871,10.871,0,0,0,3.184,18.559,10.871,10.871,0,0,0,18.557,
                                    3.184ZM10.87,19.668a8.8,8.8,0,1,1,8.8-8.8A8.807,8.807,0,0,1,10.87,19.668Z" transform="translate(0)"/>
                                    </g>
                                    <g transform="translate(16.782 16.784)">
                                        <path class="search__a" d="M343.263,341.8l-6.818-6.818a1.037,1.037,0,1,0-1.467,1.467l6.818,6.818a1.037,
                                    1.037,0,1,0,1.467-1.467Z" transform="translate(-334.675 -334.674)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </form>
            </div>
        </div>

        <div class="footer-bot">
            <div class="coopr">
                <p>© 2019 ООО БГО "Центр социальной защиты населения"</p>
            </div>

            <a href="http://taurus.team/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="110.717" height="35" viewBox="0 0 110.717 35">
                    <g transform="translate(-871.5 -512.016)">
                        <path d="M3.736,26.3H9.4v1.93H5.666V37.7H3.736v-9.4H0v-1.93H3.736ZM20.3,37.7l5.168-11.4,5.168,11.4H20.3Zm3.051-1.93h4.234l-2.117-4.67-2.117,4.67ZM41.471,
                                26.3h9.4v6.663a4.732,4.732,0,0,1-9.465,0V26.3Zm1.93,1.993v4.421a2.74,2.74,0,0,0,5.48,0V28.293Zm27.71,9.4L68,32.776a3.085,3.085,0,0,0,
                                2.491-3.113c0-3.3-3.8-3.3-3.8-3.3H61.708l1.183,1.93L64.7,31.157H62.891V37.82h1.93V32.963h1.121L68.931,37.7ZM65.2,28.23h1.557s1.93,0,1.93,1.432c0,
                                1.121-1.183,1.37-1.681,1.432L65.2,28.23Zm16.75-1.93h9.4v6.663a4.732,4.732,0,0,1-9.465,0V26.3Zm1.993,1.993v4.421a2.74,2.74,0,1,0,5.48,0V28.293Zm20.113,
                                9.029a5.9,5.9,0,0,1-1.681-1.059l-.125-.125,1.121-1.494.187.187a3.6,3.6,0,0,0,1.245.809,3.346,3.346,0,0,0,1.308.311,1.976,1.976,0,0,0,1.245-.374,1.324,
                                1.324,0,0,0,.436-.934c0-.934-1-1.37-2.117-1.868-1.432-.623-2.989-1.308-2.989-3.238a2.9,2.9,0,0,1,1.059-2.3,4.135,4.135,0,0,1,2.615-.872,5.719,5.719,0,
                                0,1,1.744.311,3.807,3.807,0,0,1,1.37.809l.125.125-.872,1.619-.187-.187a2.979,2.979,0,0,0-1.059-.623,4.02,4.02,0,0,0-1.183-.249,1.976,1.976,0,0,0-1.245.374,
                                1.12,1.12,0,0,0-.436.934c0,.872,1,1.308,2.055,1.744,1.432.623,3.051,1.308,3.051,3.3a3.292,3.292,0,0,1-1,2.366,3.726,3.726,0,0,1-2.553.872A7.082,7.082,0,0,1,
                                104.051,37.322Z" transform="translate(872 498.681)" fill="#fff" stroke="#fff" stroke-width="1" fill-rule="evenodd"/>
                        <path d="M4.043-8.716v1.2a1.412,1.412,0,0,0-1-.379,1.145,1.145,0,0,0-.9.354,1.241,1.241,0,0,0-.319.862,1.18,1.18,0,0,0,.354.877,1.231,1.231,0,0,0,.9.349,
                                1.385,1.385,0,0,0,.956-.379v1.186a2.466,2.466,0,0,1-1.116.269A2.313,2.313,0,0,1,1.263-5.01,2.172,2.172,0,0,1,.576-6.664a2.22,2.22,0,0,1,.747-1.753,2.254,
                                2.254,0,0,1,1.554-.558A2.652,2.652,0,0,1,4.043-8.716ZM4.96-4.522V-8.836H6.175v.648a1.4,1.4,0,0,1,.538-.6,1.313,1.313,0,0,1,.717-.189,1.548,1.548,0,0,1,
                                .518.1L7.789-7.74A.97.97,0,0,0,7.221-7.9a.973.973,0,0,0-.807.349,1.532,1.532,0,0,0-.239.956v2.072Zm6.705-1.385,1.116.179a1.9,1.9,0,0,1-.184.354,3.358,
                                3.358,0,0,1-.354.428,1.7,1.7,0,0,1-.648.408,2.637,2.637,0,0,1-.937.154A2.3,2.3,0,0,1,9-4.99a2.2,2.2,0,0,1-.677-1.684,2.292,2.292,0,0,1,.658-1.694,2.216,
                                2.216,0,0,1,1.624-.608,2.066,2.066,0,0,1,1.684.707,2.555,2.555,0,0,1,.518,1.694v.1H9.583a1.208,1.208,0,0,0,.209.727,1.008,1.008,0,0,0,.867.408A1.086,
                                1.086,0,0,0,11.665-5.907ZM9.622-7.252h2.042a.972.972,0,0,0-.364-.643,1.065,1.065,0,0,0-.663-.224,1.036,1.036,0,0,0-.653.229A.985.985,0,0,0,
                                9.622-7.252Zm7.432-1.026v-.558H18.27v4.314H17.055V-5.08a1.536,1.536,0,0,1-1.325.7,2.058,2.058,0,0,1-1.589-.668,2.328,2.328,0,0,1-.613-1.634,
                                2.338,2.338,0,0,1,.6-1.634,1.991,1.991,0,0,1,1.544-.658A1.53,1.53,0,0,1,17.055-8.278Zm-.219.727a1.144,1.144,0,0,0-.857-.349,1.144,1.144,0,0,
                                0-.857.349,1.2,1.2,0,0,0-.339.867,1.212,1.212,0,0,0,.339.872,1.136,1.136,0,0,0,.857.354,1.136,1.136,0,0,0,.857-.354,1.212,1.212,0,0,0,.339-.872A1.2,1.2,0,0,0,
                                16.836-7.55ZM21.478-7.8h-.837v3.278H19.426V-7.8h-.478V-8.836h.478V-10.31h1.215v1.475h.837Zm3.756,1.893,1.116.179a1.9,1.9,0,0,1-.184.354,3.358,3.358,0,0,
                                1-.354.428,1.7,1.7,0,0,1-.648.408,2.637,2.637,0,0,1-.937.154,2.3,2.3,0,0,1-1.654-.608A2.2,2.2,0,0,1,21.9-6.674a2.292,2.292,0,0,1,.658-1.694,2.216,2.216,0,
                                0,1,1.624-.608,2.066,2.066,0,0,1,1.684.707,2.555,2.555,0,0,1,.518,1.694v.1H23.152a1.208,1.208,0,0,0,.209.727,1.008,1.008,0,0,0,.867.408A1.086,1.086,0,0,0,
                                25.234-5.907ZM23.192-7.252h2.042a.972.972,0,0,0-.364-.643,1.065,1.065,0,0,0-.663-.224,1.036,1.036,0,0,0-.653.229A.985.985,0,0,0,
                                23.192-7.252Zm7.432-1.026v-3.706H31.84v7.462H30.624V-5.08a1.536,1.536,0,0,1-1.325.7A2.058,2.058,0,0,1,27.71-5.05,2.328,2.328,0,0,1,27.1-6.684a2.338,2.338,0,0,1,
                                .6-1.634,1.991,1.991,0,0,1,1.544-.658A1.53,1.53,0,0,1,30.624-8.278Zm-.219.727a1.144,1.144,0,0,0-.857-.349,1.144,1.144,0,0,0-.857.349,1.2,1.2,0,0,0-.339.867,1.212,
                                1.212,0,0,0,.339.872,1.136,1.136,0,0,0,.857.354,1.136,1.136,0,0,0,.857-.354,1.212,1.212,0,0,0,.339-.872A1.2,1.2,0,0,0,30.405-7.55Zm6.127-4.434v3.706a1.626,1.626,
                                0,0,1,1.4-.7,1.975,1.975,0,0,1,1.534.648,2.352,2.352,0,0,1,.588,1.644,2.336,2.336,0,0,1-.6,1.649,2.014,2.014,0,0,1-1.549.653,1.613,1.613,0,0,
                                1-1.375-.7v.558H35.317v-7.462ZM38.465-7.55a1.144,1.144,0,0,0-.857-.349,1.144,1.144,0,0,0-.857.349,1.2,1.2,0,0,0-.339.867,1.212,1.212,0,0,0,.339.872,1.136,1.136,0,
                                0,0,.857.354,1.136,1.136,0,0,0,.857-.354,1.212,1.212,0,0,0,.339-.872A1.2,1.2,0,0,0,38.465-7.55Zm2.441,5.34L42.49-5.169,40.438-8.836h1.415l1.335,
                                2.451,1.2-2.451h1.375L42.281-2.21Z" transform="translate(871.783 524)" fill="#fff"/>
                        <path d="M.992-3.6a.751.751,0,0,1-.224-.553.751.751,0,0,1,.224-.553.751.751,0,0,1,.553-.224.751.751,0,0,1,.553.224.751.751,0,0,1,.224.553A.751.751,0,0,1,
                                2.1-3.6a.751.751,0,0,1-.553.224A.751.751,0,0,1,.992-3.6ZM5.431-6.785H4.594v3.278H3.378V-6.785H2.9V-7.821h.478V-9.3H4.594v1.475h.837ZM9.187-4.892l1.116.179a1.9,1.9,0,0,
                                1-.184.354,3.358,3.358,0,0,1-.354.428,1.7,1.7,0,0,1-.648.408,2.637,2.637,0,0,1-.937.154,2.3,2.3,0,0,1-1.654-.608A2.2,2.2,0,0,1,5.849-5.66a2.292,2.292,0,0,1,.658-1.694,
                                2.216,2.216,0,0,1,1.624-.608,2.066,2.066,0,0,1,1.684.707,2.555,2.555,0,0,1,.518,1.694v.1H7.1a1.208,1.208,0,0,0,.209.727,1.008,1.008,0,0,0,.867.408A1.086,1.086,0,0,0,
                                9.187-4.892ZM7.144-6.237H9.187a.972.972,0,0,0-.364-.643A1.065,1.065,0,0,0,8.161-7.1a1.036,1.036,0,0,0-.653.229A.985.985,0,0,0,
                                7.144-6.237Zm7.432-1.026v-.558h1.215v4.314H14.577v-.558a1.536,1.536,0,0,1-1.325.7,2.058,2.058,0,0,1-1.589-.668,2.328,2.328,0,0,1-.613-1.634,2.338,2.338,0,0,1,
                                .6-1.634,1.991,1.991,0,0,1,1.544-.658A1.53,1.53,0,0,1,14.577-7.264Zm-.219.727a1.144,1.144,0,0,0-.857-.349,1.144,1.144,0,0,0-.857.349,1.2,1.2,0,0,0-.339.867,
                                1.212,1.212,0,0,0,.339.872,1.136,1.136,0,0,0,.857.354,1.136,1.136,0,0,0,.857-.354,1.212,1.212,0,0,0,.339-.872A1.2,1.2,0,0,0,14.358-6.536Zm2.59,
                                3.029V-7.821h1.215v.488a1.567,1.567,0,0,1,1.285-.628,1.405,1.405,0,0,1,1.365.787A1.542,1.542,0,0,1,22.2-7.961a1.387,1.387,0,0,1,1.166.528,1.275,1.275,0,0,1,
                                .244.518,3.61,3.61,0,0,1,.055.7v2.71H22.447V-5.859a1.352,1.352,0,0,0-.2-.847.608.608,0,0,0-.5-.219.707.707,0,0,0-.668.379,1.643,1.643,0,0,0-.169.837v2.2H19.7V-5.859a1.352,
                                1.352,0,0,0-.2-.847.608.608,0,0,0-.5-.219.707.707,0,0,0-.668.379,1.643,1.643,0,0,0-.169.837v2.2Z" transform="translate(957.641 550.384)" fill="#fff"/>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</footer>