<section class="gos-usl index-news">
    <div class="container">
        <div class="title">
            <h2>ГОСУДАРСТВЕННЫЕ УСЛУГИ</h2>
        </div>

        <div class="inner-container">
            <a href="gos-description.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЕТЯМ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>
                </div>
            </a>

            <a href="gos-description.html"  class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>СТАРШЕМУ ПОКОЛЕНИЮ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>
                </div>
            </a>

            <a href="gos-description.html"  class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ОПЛАТА ЖКУ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>