<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-item">
            <a href="index.html">Главная </a> <span>/ Старшему поколению</span>
        </div>

        <h1>Старшему поколению</h1>
    </div>
</section>

<section class="news index-news">
    <div class="container">
        <div class="inner-container">
            <a href="description.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛЯ МНОГОДЕТНЫХ СЕМЕЙ</h3>
                </div>
            </a>

            <a href="description.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛЯ ИНВАЛИДОВ</h3>
                </div>
            </a>

            <a href="description.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛЯ МНОГОДЕТНЫХ СЕМЕЙ</h3>
                </div>
            </a>
            <a href="description.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛЯ ИНВАЛИДОВ</h3>
                </div>
            </a>

            <a href="description.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛЯ МНОГОДЕТНЫХ СЕМЕЙ</h3>
                </div>
            </a>

            <a href="description.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                </div>
            </a>
            <a href="description.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛЯ ИНВАЛИДОВ</h3>
                </div>
            </a>

            <a href="description.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛЯ ИНВАЛИДОВ</h3>
                </div>
            </a>

            <a href="description.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛЯ ИНВАЛИДОВ</h3>
                </div>
            </a>
        </div>
    </div>
</section>