<header>
    <div class="container">
        <a href="index.html" class="logo">
            <img src="assets/images/gerb_samarskoj_oblasti.png">
            <p><span>Государственное казенное учреждение Самарской области </span> <br><span>"Главное управление социальной защиты населения Самарского округа"</span></p>
        </a>

        <div class="menu" id="menu">
            <ul>
                <li class="link-menu">
                    <a class="link-copy" href="about.html">О нас</a>
                    <div class="menu-hover">
                        <ul>
                            <li><a href="#">Об организации</a></li>
                            <li><a href="#">Структура учреждения</a></li>
                            <li><a href="#">Кадровый состав</a></li>
                            <li><a href="#">Вакансии</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="gos-description.html">Государственные услуги</a></li>
                <li><a href="anticoruprion.html">Антикоррупция</a></li>
                <li><a href="documents.html">Документы</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>

        <div class="tel">
            <a href="8(000)000-00-00">8 (000) 000-00-00</a>
            <p>ул.Некрасовская, д.68</p>
        </div>

        <a class="modal__call" data-fancybox href="#call">
            <svg xmlns="http://www.w3.org/2000/svg" width="29.828" height="29.822" viewBox="0 0 29.828 29.822">
                <g transform="translate(0 -0.004)">
                    <g transform="translate(0 0.003)">
                        <path class="modal__call__a" d="M23.969,29.825a12.819,12.819,0,0,1-4.387-.932,32.926,32.926,0,0,1-11.069-7.58A32.923,
                        32.923,0,0,1,.933,10.242C-.308,6.957-.311,4.26.923,3.026c.179-.179.36-.369.547-.565C2.6,1.278,3.9-.067,
                        5.555.006,6.719.054,7.845.776,9,2.211c3.407,4.238,1.871,5.749.093,7.5l-.315.311c-.291.291-.842,1.637,
                        4.273,6.751a28.465,28.465,0,0,0,4.23,3.631c.717.465,2,1.168,2.522.643l.316-.319c1.749-1.776,3.26-3.306,
                        7.5.1,1.435,1.154,2.157,2.28,2.2,3.445.069,1.687-1.275,2.963-2.461,4.089-.195.186-.385.365-.562.542A3.914,
                        3.914,0,0,1,23.969,29.825ZM5.436,1.005c-1.2,0-2.281,1.14-3.239,2.147-.194.2-.381.4-.565.584-.919.918-.825,
                        3.333.239,6.153A31.923,31.923,0,0,0,9.223,20.6a31.923,31.923,0,0,0,10.714,7.351c2.82,1.064,5.235,1.157,
                        6.154.237.184-.183.379-.369.58-.56,1.031-.98,2.2-2.089,2.15-3.321a4.054,4.054,0,0,
                        0-1.832-2.7c-3.531-2.837-4.517-1.834-6.154-.177l-.321.324c-.779.783-2.05.612-3.778-.512a29.411,29.411,
                        0,0,1-4.393-3.763h0c-4.244-4.244-5.6-6.84-4.273-8.17l.32-.317c1.663-1.637,2.666-2.625-.172-6.156a4.067,
                        4.067,0,0,0-2.7-1.831Z" transform="translate(0 -0.003)"/>
                    </g>
                    <g transform="translate(15.336 0.009)">
                        <path class="modal__call__a" d="M24.091,12.313a.5.5,0,0,1-.464-.689A4.217,4.217,0,0,0,17.982,6.2a.5.5,0,1,
                        1-.413-.913A5.219,5.219,0,0,1,24.556,12,.5.5,0,0,1,24.091,12.313Z" transform="translate(-15.283 0.006)"/>
                        <path class="modal__call__a" d="M28.575,14.146a.5.5,0,0,1-.464-.689A9.05,9.05,0,0,0,16,1.809a.5.5,0,0,
                        1-.413-.916A10.053,10.053,0,0,1,29.04,13.833.5.5,0,0,1,28.575,14.146Z" transform="translate(-15.289 -0.009)"/>
                    </g>
                </g>
            </svg>
            <p>Связаться с нами</p>
        </a>

        <a class="visually-impaired" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="32.113" height="18.004" viewBox="0 0 32.113 18.004">
                <g transform="translate(-2.062 -29.9)">
                    <path class="header__a" d="M57.277,52.555A2.277,2.277,0,1,0,55,50.277,2.268,2.268,0,0,0,57.277,52.555Zm0-3.8a1.518,
                    1.518,0,1,1-1.518,1.518A1.523,1.523,0,0,1,57.277,48.759Z" transform="translate(-39.159 -13.146)"/>
                    <path class="header__a" d="M18.118,47.4A18.55,18.55,0,0,0,33.6,39.1a.435.435,0,0,0,0-.43A18.613,18.613,0,0,0,
                    2.632,38.7a.435.435,0,0,0,0,.43A18.527,18.527,0,0,0,18.118,47.4Zm4.934-15.562a7.118,7.118,0,0,1,2.277,
                    5.263,7.212,7.212,0,0,1-14.423,0,7.566,7.566,0,0,1,2.227-5.213.088.088,0,0,0,.025-.051,18.071,18.071,0,0,1,
                    4.96-.709A18.746,18.746,0,0,1,23.052,31.842Zm-11.286.481a8.128,8.128,0,0,0-1.619,4.782,7.971,7.971,0,0,0,
                    15.942,0,8.1,8.1,0,0,0-1.594-4.782,17.732,17.732,0,0,1,8.35,6.579,17.877,17.877,0,0,1-29.454,0A17.918,
                    17.918,0,0,1,11.767,32.323Z" transform="translate(0 0)"/>
                </g>
            </svg>
        </a>

        <div class="search">
            <svg xmlns="http://www.w3.org/2000/svg" width="25.672" height="25.676" viewBox="0 0 25.672 25.676">
                <g transform="translate(-1738 -47.17)">
                    <g transform="translate(1738 47.17)">
                        <g transform="translate(0)">
                            <path class="search__a" d="M18.557,3.184A10.871,10.871,0,0,0,3.184,18.559,10.871,10.871,0,0,0,18.557,
                            3.184ZM10.87,19.668a8.8,8.8,0,1,1,8.8-8.8A8.807,8.807,0,0,1,10.87,19.668Z" transform="translate(0)"/>
                        </g>
                        <g transform="translate(16.782 16.784)">
                            <path class="search__a" d="M343.263,341.8l-6.818-6.818a1.037,1.037,0,1,0-1.467,1.467l6.818,6.818a1.037,
                            1.037,0,1,0,1.467-1.467Z" transform="translate(-334.675 -334.674)"/>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

        <a href="#menu" data-fancybox class="burger">
            <svg xmlns="http://www.w3.org/2000/svg" width="25.646" height="17.789" viewBox="0 0 25.646 17.789">
                <g transform="translate(0 7.858)">
                    <path class="burger__a" d="M24.611,235.318H1.036a1.036,1.036,0,0,0,0,2.072H24.611a1.036,1.036,0,0,0,0-2.072Z" transform="translate(0 -235.318)"/>
                </g>
                <path class="burger__a" d="M24.611,78.439H1.036a1.036,1.036,0,1,0,0,2.072H24.611a1.036,1.036,0,1,0,0-2.072Z" transform="translate(0 -78.439)"/>
                <g transform="translate(0 15.716)">
                    <path class="burger__a" d="M24.611,392.2H1.036a1.036,1.036,0,1,0,0,2.072H24.611a1.036,1.036,0,1,0,0-2.072Z" transform="translate(0 -392.197)"/>
                </g>
            </svg>
        </a>
    </div>
</header>
<div class="container">
    <div class="search-header">
        <form>
            <input type="text" name="search" placeholder="Поиск по документам">
            <button class="bth-search-header">Найти</button>
        </form>
    </div>
</div>