<div class="index-sl">
    <div class="slider">
        <div class="slider-element" style="background-image: url('assets/images/slider2.jpg')">
            <div class="blue-filter"></div>
            <div class="container">
                <h2>ОЧЕНЬ ВАЖНЫЙ ТЕКСТ О СОЦИАЛЬНОЙ ЗАЩИТЕ НАСЕЛЕНИЯ</h2>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                <a href="#">
                    <button class="btn">Подробнее</button>
                </a>
            </div>
        </div>
        <div class="slider-element" style="background-image: url('assets/images/slider1.png')">
            <div class="blue-filter"></div>
            <div class="container">
                <h2>ОЧЕНЬ ВАЖНЫЙ ТЕКСТ О СОЦИАЛЬНОЙ ЗАЩИТЕ НАСЕЛЕНИЯ</h2>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                <a href="#">
                    <button class="btn">Подробнее</button>
                </a>
            </div>
        </div>
        <div class="slider-element" style="background-image: url('assets/images/slider1.png')">
            <div class="blue-filter"></div>
            <div class="container">
                <h2>ОЧЕНЬ ВАЖНЫЙ ТЕКСТ О СОЦИАЛЬНОЙ ЗАЩИТЕ НАСЕЛЕНИЯ</h2>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                <a href="#">
                    <button class="btn">Подробнее</button>
                </a>
            </div>
        </div>
    </div>

    <div class="navigation">
        <div class="navigation__right">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                <g transform="translate(-1468 -700)">
                    <rect class="navigation__a" width="50" height="50" transform="translate(1468 700)"/>
                    <g transform="translate(1489 716.764)">
                        <path class="navigation__b" d="M1.154,8.424,8.763.815A.477.477,0,1,0,8.089.14L.14,8.089a.475.475,0,0,0,0,.674l7.949,7.945a.48.48,0,0,0,.335.141.465.465,0,0,0,
                            .335-.141.475.475,0,0,0,0-.674Z" transform="translate(0 0)"/>
                    </g>
                </g>
            </svg>
        </div>
        <div class="navigation__left">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                <g transform="translate(-1468 -700)">
                    <rect class="navigation__a" width="50" height="50" transform="translate(1468 700)"/>
                    <g transform="translate(1489 716.764)">
                        <path class="navigation__b" d="M1.154,8.424,8.763.815A.477.477,0,1,0,8.089.14L.14,8.089a.475.475,0,0,0,0,.674l7.949,7.945a.48.48,0,0,0,.335.141.465.465,0,0,0,
                            .335-.141.475.475,0,0,0,0-.674Z" transform="translate(0 0)"/>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>

<script>
    $('.slider').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        fade: true,
        dots: true,
        nextArrow: '.navigation__left',
        prevArrow: '.navigation__right',
        swipe: true
    });
</script>
