<section class="index-doc">
    <div class="container">
        <div class="title">
            <h2>ИЗМЕНЕНИЯ В ДОКУМЕНТАХ</h2>
            <div class="line"></div>
            <a href="documents.html">Все документы</a>
        </div>

        <div class="inner-container">
            <a href="document.html" class="doc-element">
                <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ МОЖЕТ БЫТЬ ОЧЕНЬ ДЛИННЫМ И ОЧЕНЬ ДЛИННЫМ</h3>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой</p>
                <p class="date">28.03.2019</p>
            </a>
            <a href="document.html" class="doc-element">
                <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</p>
                <p class="date">28.03.2019</p>
            </a>
            <a href="document.html" class="doc-element">
                <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой</p>
                <p class="date">28.03.2019</p>
            </a>
            <a href="document.html" class="doc-element">
                <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой</p>
                <p class="date">28.03.2019</p>
            </a>
            <a href="document.html" class="doc-element">
                <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой</p>
                <p class="date">28.03.2019</p>
            </a>
            <a href="document.html" class="doc-element">
                <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой</p>
                <p class="date">28.03.2019</p>
            </a>
        </div>
    </div>
</section>