<section class="index-news">
    <div class="container">
        <div class="title">
            <h2>НОВОСТИ</h2>
            <div class="line"></div>
            <a href="news.html">Читать все новости</a>
        </div>

        <div class="inner-container">
            <a href="news-element.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>

                    <p class="date">28.03.2019</p>
                </div>
            </a>

            <a href="news-element.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>

                    <p class="date">28.03.2019</p>
                </div>
            </a>

            <a href="news-element.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>

                    <p class="date">28.03.2019</p>
                </div>
            </a>
        </div>
    </div>
</section>