<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-item">
            <a href="index.html">Главная </a> <span>/ Карта сайта</span>
        </div>

        <h1>Карта сайта</h1>
    </div>
</section>

<section class="map-site">
    <div class="container">
        <div class="map-site">
            <ul>
                <li class="title"><a href="#">О нас</a></li>
                <li><a href="#">Об организации</a></li>
                <li><a href="#">Структура учреждения</a></li>
                <li><a href="#">Кадровый состав</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <ul>
                <li class="title"><a href="#">Государственные услуги</a></li>
                <li><a href="#">Многодетным семьям</a></li>
                <li><a href="#">Для инвалидов</a></li>
                <li><a href="#">Название услуги может быть длинной</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>

            <ul>
                <li class="title"><a href="#">Документы</a></li>
                <li><a href="#">Многодетным семьям</a></li>
                <li><a href="#">Для инвалидов</a></li>
                <li><a href="#">Название услуги может быть длинной</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>

            <ul>
                <li class="title"><a href="#">Антикоррупция</a></li>
            </ul>

            <ul>
                <li class="title"><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
</section>