<div class="pop-up" id="call" style="display: none">
    <div class="close__modal"></div>
    <div class="modal-container">
        <form>
            <h2>Связаться с нами</h2>
            <label for="fio">ФИО:</label>
            <input type="text" name="fio">

            <label for="tel">Номер телефона:</label>
            <input type="tel" name="tel">

            <label for="txt">Текст обращения:</label>
            <textarea name="txt"></textarea>

            <div class="param-checkbox">
                <input class="checkbox" type="checkbox" name="checkbox-test">
                <span class="checkbox-custom"></span>
            </div>

            <div class="captcha">
                <div class="param-checkbox">
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                </div>
                <label>
                    Я не робот
                </label>
            </div>
        </form>
    </div>
</div>