<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-item">
            <a href="index.html">Главная </a> <span>/ Новости</span>
        </div>

        <h1>Новости</h1>
    </div>
</section>

<section class="news index-news">
    <div class="container">
        <div class="inner-container">
            <a href="news-element.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>

                    <p class="date">28.03.2019</p>
                </div>
            </a>

            <a href="news-element.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>

                    <p class="date">28.03.2019</p>
                </div>
            </a>

            <a href="news-element.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>

                    <p class="date">28.03.2019</p>
                </div>
            </a>
            <a href="news-element.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>

                    <p class="date">28.03.2019</p>
                </div>
            </a>

            <a href="news-element.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>

                    <p class="date">28.03.2019</p>
                </div>
            </a>

            <a href="news-element.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>

                    <p class="date">28.03.2019</p>
                </div>
            </a>
            <a href="news-element.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>

                    <p class="date">28.03.2019</p>
                </div>
            </a>

            <a href="news-element.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>

                    <p class="date">28.03.2019</p>
                </div>
            </a>

            <a href="news-element.html" class="inner-container__element">
                <div class="image" style="background-image: url('assets/images/slider1.png')"></div>
                <div class="text">
                    <h3>ДЛИННЫЙ ЗАГОЛОВОК ОЧЕНЬ ОБЫЧНОЙ НОВОСТИ</h3>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной рыбой которую используют в разработке сайтов
                    </p>

                    <p class="date">28.03.2019</p>
                </div>
            </a>
        </div>

        <div class="pagination">
            <div class="modern-page-navigation">
                <a class="modern-page-previous" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.875" height="16.746" viewBox="0 0 10.875 16.746">
                        <g transform="translate(45.144 -6.551) rotate(90)">
                            <path class="pagination__a" d="M22.536,34.992c-.229-.2-.479-.338-.7-.078L14.9,43.049,7.983,34.972c-.218-.26-.407-.172-.659.047s-.344.446-.126.706l7.291,
                            8.721a.507.507,0,0,0,.4.2.527.527,0,0,0,.4-.2l7.36-8.762C22.873,35.425,22.764,35.2,22.536,34.992Z" transform="translate(0 0)"/>
                        </g>
                    </svg>
                </a>
                <a href="#">1</a>
                <a href="#">...</a>
                <a href="#">22</a>
                <span class="modern-page-current">23</span>
                <a href="#">24</a>
                <a href="#">...</a>
                <a href="#">100</a>
                <a class="modern-page-next" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.875" height="16.746" viewBox="0 0 10.875 16.746">
                        <g transform="translate(-34.267 23.297) rotate(-90)">
                            <path class="pagination__a" d="M22.536,34.992c-.229-.2-.479-.338-.7-.078L14.9,43.049,7.983,34.972c-.218-.26-.407-.172-.659.047s-.344.446-.126.706l7.291,
                            8.721a.507.507,0,0,0,.4.2.527.527,0,0,0,.4-.2l7.36-8.762C22.873,35.425,22.764,35.2,22.536,34.992Z" transform="translate(0 0)"/>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>